<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
      <!-- header tag starts here  -->

      <%- include('./partials/header') -%>

      <!-- header tag ends here -->

      <!-- sidebar tag starts here  -->

      <%- include('./partials/sidebar') -%>

      <!-- sidebar tag ends here -->

      <div class="page-wrapper" style="margin-top: 60px;">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="content-page-header">
              <h5>Add Payment Method</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <div class="form-group-item">
                  <div class="col-lg-4 col-md-6 col-sm-12">     
                    <form action="/wallets" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="interestRate">Wallet Type</label>
                        <input
                          type="text"
                          name="wallet_type"
                          class="form-control"
                          placeholder="Enter Wallet Type"
                          required
                        />
                      </div> 
                      <div class="form-group">
                        <label for="interestRate">Wallet Address</label>
                        <input
                          type="text"
                          name="wallet_address"
                          class="form-control"
                          placeholder="Enter Wallet Address"
                          required
                        />
                      </div>                  
                      <div class="form-group">
                        <label for="qr_code">Upload QR Code Image</label>
                        <input
                          type="file"
                          name="qr_code"
                          id="qr_code" 
                          class="form-control"
                          accept="image/*" 
                          required
                        />
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Create Payment Method
                      </button>
                    </form>                
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>

    <script src="/plugins/summernote/summernote-lite.min.js"></script>

    <script src="/js/script.js"></script>

    <script>

      $(document).ready(function(){
        var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
            sidebar.remove()
      });    
        </script>
  </body>
</html> 
