<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
      <!-- header tag starts here  -->

      <%- include('./partials/header') -%>

      <!-- header tag ends here -->

      <!-- sidebar tag starts here  -->

      <%- include('./partials/sidebar') -%>

      <!-- sidebar tag ends here -->

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="row">
            <div class="col-xl-3 col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="page-header">
                    <div class="content-page-header">
                      <h5>Settings</h5>
                    </div>
                  </div>

                  <div class="widget settings-menu mb-0">
                    <ul>
                      <li class="nav-item">
                        <a href="settings.html" class="nav-link active">
                          <i class="fe fe-user"></i>
                          <span>Account Settings</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="company-settings.html" class="nav-link">
                          <i class="fe fe-settings"></i>
                          <span>Company Settings</span>
                        </a>
                      </li>

                      <!-- <li class="nav-item">
<a href="payment-settings.html" class="nav-link">
<i class="fe fe-credit-card"></i> <span>Payment Methods</span>
</a>
</li> -->
                      <li class="nav-item">
                        <a href="bank-account.html" class="nav-link">
                          <i class="fe fe-aperture"></i>
                          <span>Wallet Settings</span>
                        </a>
                      </li>
                      <!-- <li class="nav-item">
<a href="tax-rats.html" class="nav-link">
<i class="fe fe-file-text"></i> <span>Tax Rates</span>
</a>
</li>
<li class="nav-item">
<a href="email-settings.html" class="nav-link">
<i class="fe fe-mail"></i> <span>Email Settings</span>
</a>
</li> -->
                      <!-- <li class="nav-item">
<a href="preferences.html" class="nav-link">
<i class="fe fe-settings"></i> <span>Preference Settings</span>
</a>
</li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-md-8">
              <div class="content w-100 pt-0">
                <div class="content-page-header p-0">
                  <h5>Bank Accounts</h5>
                  <div class="list-btn">
                    <a
                      href="#"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#bank_details"
                      ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i
                      >Add Bank</a
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card-table">
                      <div class="card-body">
                        <div class="table-responsive no-pagination">
                          <table
                            class="table table-center table-hover datatable"
                          >
                            <thead class="thead-light">
                              <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Bank Name</th>
                                <th>Branch</th>
                                <th>Account Number</th>
                                <th>IFSC Code</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>
                                  <h2 class="table-avatar">
                                    <a href="profile.html">John Smith</a>
                                  </h2>
                                </td>
                                <td>Axis Bank</td>
                                <td>Adambakkam</td>
                                <td>123 456 78920</td>
                                <td>UTIB0003259</td>
                                <td class="d-flex align-items-center">
                                  <div class="dropdown dropdown-action">
                                    <a
                                      href="#"
                                      class="btn-action-icon"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false"
                                      ><i class="fas fa-ellipsis-v"></i
                                    ></a>
                                    <div
                                      class="dropdown-menu dropdown-menu-end"
                                    >
                                      <ul>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-edit me-2"></i
                                            >Edit</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete_modal"
                                            ><i
                                              class="far fa-trash-alt me-2"
                                            ></i
                                            >Delete</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-eye me-2"></i
                                            >View</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>
                                  <h2 class="table-avatar">
                                    <a href="profile.html">John Smith</a>
                                  </h2>
                                </td>
                                <td>Bank of India</td>
                                <td>Adyar</td>
                                <td>756 890 65820</td>
                                <td>BKID0008010</td>
                                <td class="d-flex align-items-center">
                                  <div class="dropdown dropdown-action">
                                    <a
                                      href="#"
                                      class="btn-action-icon"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false"
                                      ><i class="fas fa-ellipsis-v"></i
                                    ></a>
                                    <div
                                      class="dropdown-menu dropdown-menu-end"
                                    >
                                      <ul>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-edit me-2"></i
                                            >Edit</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete_modal"
                                            ><i
                                              class="far fa-trash-alt me-2"
                                            ></i
                                            >Delete</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-eye me-2"></i
                                            >View</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>
                                  <h2 class="table-avatar">
                                    <a href="profile.html">John Smith</a>
                                  </h2>
                                </td>
                                <td>Canara Bank</td>
                                <td>Karavalur</td>
                                <td>756 890 75689</td>
                                <td>CNRB0001483</td>
                                <td class="d-flex align-items-center">
                                  <div class="dropdown dropdown-action">
                                    <a
                                      href="#"
                                      class="btn-action-icon"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false"
                                      ><i class="fas fa-ellipsis-v"></i
                                    ></a>
                                    <div
                                      class="dropdown-menu dropdown-menu-end"
                                    >
                                      <ul>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-edit me-2"></i
                                            >Edit</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete_modal"
                                            ><i
                                              class="far fa-trash-alt me-2"
                                            ></i
                                            >Delete</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-eye me-2"></i
                                            >View</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>
                                  <h2 class="table-avatar">
                                    <a href="profile.html">John Smith</a>
                                  </h2>
                                </td>
                                <td>ICICI Bank</td>
                                <td>Vadavalli</td>
                                <td>756 890 36586</td>
                                <td>ICIC0002142</td>
                                <td class="d-flex align-items-center">
                                  <div class="dropdown dropdown-action">
                                    <a
                                      href="#"
                                      class="btn-action-icon"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false"
                                      ><i class="fas fa-ellipsis-v"></i
                                    ></a>
                                    <div
                                      class="dropdown-menu dropdown-menu-end"
                                    >
                                      <ul>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-edit me-2"></i
                                            >Edit</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete_modal"
                                            ><i
                                              class="far fa-trash-alt me-2"
                                            ></i
                                            >Delete</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-eye me-2"></i
                                            >View</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>
                                  <h2 class="table-avatar">
                                    <a href="profile.html">John Smith</a>
                                  </h2>
                                </td>
                                <td>Karur Vysya Bank</td>
                                <td>Chennai</td>
                                <td>756 890 88669</td>
                                <td>KVBL0001153</td>
                                <td class="d-flex align-items-center">
                                  <div class="dropdown dropdown-action">
                                    <a
                                      href="#"
                                      class="btn-action-icon"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false"
                                      ><i class="fas fa-ellipsis-v"></i
                                    ></a>
                                    <div
                                      class="dropdown-menu dropdown-menu-end"
                                    >
                                      <ul>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-edit me-2"></i
                                            >Edit</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete_modal"
                                            ><i
                                              class="far fa-trash-alt me-2"
                                            ></i
                                            >Delete</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-eye me-2"></i
                                            >View</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>6</td>
                                <td>
                                  <h2 class="table-avatar">
                                    <a href="profile.html">John Smith</a>
                                  </h2>
                                </td>
                                <td>State Bank of India</td>
                                <td>Chennai</td>
                                <td>756 890 36589</td>
                                <td>SBIN0000800</td>
                                <td class="d-flex align-items-center">
                                  <div class="dropdown dropdown-action">
                                    <a
                                      href="#"
                                      class="btn-action-icon"
                                      data-bs-toggle="dropdown"
                                      aria-expanded="false"
                                      ><i class="fas fa-ellipsis-v"></i
                                    ></a>
                                    <div
                                      class="dropdown-menu dropdown-menu-end"
                                    >
                                      <ul>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-edit me-2"></i
                                            >Edit</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            data-bs-toggle="modal"
                                            data-bs-target="#delete_modal"
                                            ><i
                                              class="far fa-trash-alt me-2"
                                            ></i
                                            >Delete</a
                                          >
                                        </li>
                                        <li>
                                          <a
                                            class="dropdown-item"
                                            href="javascript:void(0);"
                                            ><i class="far fa-eye me-2"></i
                                            >View</a
                                          >
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal custom-modal fade" id="delete_modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-header">
                <h3>Delete Account Details</h3>
                <p>Are you sure want to delete?</p>
              </div>
              <div class="modal-btn delete-action">
                <div class="row">
                  <div class="col-6">
                    <button
                      type="reset"
                      data-bs-dismiss="modal"
                      class="w-100 btn btn-primary paid-continue-btn"
                    >
                      Delete
                    </button>
                  </div>
                  <div class="col-6">
                    <button
                      type="submit"
                      data-bs-dismiss="modal"
                      class="w-100 btn btn-primary paid-cancel-btn"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal custom-modal fade" id="bank_details" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-header border-0 pb-0">
              <div class="form-header modal-header-title text-start mb-0">
                <h4 class="mb-0">Add Bank Details</h4>
              </div>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span class="align-center" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Bank Name <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Bank Name"
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label
                      >Account Number <span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Enter Account Number"
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label
                      >Account Holder Name
                      <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Account Holder Name"
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label
                      >Branch Name <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Branch Name"
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group mb-0">
                    <label>IFSC Code <span class="text-danger">*</span></label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Enter IFSC COde"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a
                href="#"
                data-bs-dismiss="modal"
                class="btn btn-primary paid-cancel-btn me-2"
                >Cancel</a
              >
              <a
                href="#"
                data-bs-dismiss="modal"
                class="btn btn-primary paid-continue-btn"
                >Save</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/plugins/datatables/datatables.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/js/script.js"></script>
  </body>
</html>
