<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
        
        <!-- header tag starts here  -->
  
        <%- include('./partials/header') -%>
  
        <!-- header tag ends here -->
  
        <!-- sidebar tag starts here  -->
  
        <%- include('./partials/sidebar') -%>
  
        <!-- sidebar tag ends here -->

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="row">
            <div class="col-xl-3 col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="page-header">
                    <div class="content-page-header">
                      <h5>Settings</h5>
                    </div>
                  </div>

                  <div class="widget settings-menu mb-0">
                    <ul>
                      <li class="nav-item">
                        <a href="settings.html" class="nav-link active">
                          <i class="fe fe-user"></i>
                          <span>Account Settings</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="company-settings.html" class="nav-link">
                          <i class="fe fe-settings"></i>
                          <span>Company Settings</span>
                        </a>
                      </li>

                      <!-- <li class="nav-item">
<a href="payment-settings.html" class="nav-link">
<i class="fe fe-credit-card"></i> <span>Payment Methods</span>
</a>
</li> -->
                      <li class="nav-item">
                        <a href="bank-account.html" class="nav-link">
                          <i class="fe fe-aperture"></i>
                          <span>Wallet Settings</span>
                        </a>
                      </li>
                      <!-- <li class="nav-item">
<a href="tax-rats.html" class="nav-link">
<i class="fe fe-file-text"></i> <span>Tax Rates</span>
</a>
</li>
<li class="nav-item">
<a href="email-settings.html" class="nav-link">
<i class="fe fe-mail"></i> <span>Email Settings</span>
</a>
</li> -->
                      <!-- <li class="nav-item">
<a href="preferences.html" class="nav-link">
<i class="fe fe-settings"></i> <span>Preference Settings</span>
</a>
</li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-md-8">
              <div class="content w-100 pt-0">
                <div class="content-page-header">
                  <h5>Company Settings</h5>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Company Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Company Name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Company Address</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Company Address"
                      />
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <label>Site Logo</label>
                      <div class="form-group service-upload logo-upload mb-0">
                        <span
                          ><img
                            src="/img/icons/img-drop.svg"
                            alt="upload"
                        /></span>
                        <div class="drag-drop">
                          <h6 class="drop-browse align-center">
                            <span class="text-info me-1"
                              >Click to Replace
                            </span>
                            or Drag and Drop
                          </h6>
                          <p class="text-muted">
                            SVG, PNG, JPG (Max 800*400px)
                          </p>
                          <input type="file" multiple id="image_sign" />
                          <div id="frames"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="form-group">
                      <label>Favicon</label>
                      <div class="form-group service-upload logo-upload mb-0">
                        <span
                          ><img
                            src="/img/icons/img-drop.svg"
                            alt="upload"
                        /></span>
                        <div class="drag-drop">
                          <h6 class="drop-browse align-center">
                            <span class="text-info me-1"
                              >Click to Replace
                            </span>
                            or Drag and Drop
                          </h6>
                          <p class="text-muted">SVG, PNG, JPG (Max 35*35px)</p>
                          <input type="file" multiple id="image_sign2" />
                          <div id="frames2"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="btn-path">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-cancel bg-primary-light me-3"
                        >Cancel</a
                      >
                      <a href="javascript:void(0);" class="btn btn-primary"
                        >Save Changes</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/js/script.js"></script>
  </body>

  <!-- Mirrored from kanakku.dreamguystech.com/html/template/company-settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Sep 2023 03:43:37 GMT -->
</html>
