<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
      <!-- header tag starts here  -->

      <%- include('./partials/header') -%>

      <!-- header tag ends here -->

      <!-- sidebar tag starts here  -->

      <%- include('./partials/sidebar') -%>

      <!-- sidebar tag ends here -->

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="content-page-header">
              <h5>Contact Messages</h5>
              <div class="list-btn">
                <ul class="filter-list">
                  <li>
                    <a
                      class="btn btn-filters w-auto popup-toggle"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="Filter"
                      ><span class="me-2"
                        ><img
                          src="/img/icons/filter-icon.svg"
                          alt="filter" /></span
                      >Filter
                    </a>
                  </li>
                  <li>
                    <a
                      class="btn-filters"
                      href="javascript:void(0);"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="Grid-View"
                      ><span><i class="fe fe-grid"></i></span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="active btn-filters"
                      href="javascript:void(0);"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="List-View"
                      ><span><i class="fe fe-list"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-stripped table-hover datatable">
                      <thead class="thead-light">
                        <tr>
                          <th>Full name</th>
                          <th>Email</th>
                          <th>Message</th>
                          <th>Created on</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach(function(message) { %>
                        <tr>
                          <td><%= message.fullname %></td>
                          <td><%= message.email %></td>
                          <td><%= message.message %></td>
                          <td><%= message.createdAt %></td>
                          <td class="d-flex align-items-center">
                            <!-- <a
                              class="btn-action-icon me-2"
                              href="javascript:void(0);"
                              data-bs-toggle="modal"
                              data-bs-target="#edit_contact"
                              ><i class="fe fe-edit"></i
                            ></a> -->
                            <a
                              class="btn-action-icon"
                              href="javascript:void(0);"
                              data-bs-toggle="modal"
                              data-bs-target="#delete_modal"
                              ><i class="fe fe-trash-2"></i
                            ></a>
                          </td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal custom-modal fade" id="delete_modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-header">
                <h3>Delete Contact Messages</h3>
                <p>Are you sure want to delete?</p>
              </div>
              <div class="modal-btn delete-action">
                <div class="row">
                  <div class="col-6">
                    <button
                      type="reset"
                      data-bs-dismiss="modal"
                      class="w-100 btn btn-primary paid-continue-btn"
                    >
                      Delete
                    </button>
                  </div>
                  <div class="col-6">
                    <button
                      type="submit"
                      data-bs-dismiss="modal"
                      class="w-100 btn btn-primary paid-cancel-btn"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/plugins/datatables/datatables.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>

    <script src="/js/script.js"></script>

    <script>
      $(document).ready(function () {
        var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
        sidebar.remove();
      });
    </script>
  </body>
</html>
