<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
      <!-- header tag starts here  -->

      <%- include('./partials/header') -%>

      <!-- header tag ends here -->

      <!-- sidebar tag starts here  -->

      <%- include('./partials/sidebar') -%>

      <!-- sidebar tag ends here -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-1">
                      <i class="fas fa-dollar-sign"></i>
                    </span>
                    <div class="dash-count">
                      <div class="dash-title">Total Deposit</div>
                      <div class="dash-counts">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-2">
                      <i class="fas fa-users"></i>
                    </span>
                    <div class="dash-count">
                      <div class="dash-title">Total Users</div>
                      <div class="dash-counts">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-3">
                      <i class="fas fa-chart-bar"></i>
                    </span>
                    <div class="dash-count">
                      <div class="dash-title">Total Investors</div>
                      <div class="dash-counts">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="dash-widget-header">
                    <span class="dash-widget-icon bg-4">
                      <i class="far fa-envelope"></i>
                    </span>
                    <div class="dash-count">
                      <div class="dash-title">Total Subscribed Emails</div>
                      <div class="dash-counts">
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="card">
                <div class="card-header">
                  <div class="row align-center">
                    <div class="col">
                      <h5 class="card-title">Deposit Confirmation</h5>
                    </div>
                    <div class="col-auto">
                      <a
                        href="#"
                        class="btn-right btn btn-sm btn-outline-primary"
                      >
                        View All
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <div class="row">
                      <div class="col-auto">
                        <i class="fas fa-circle text-success me-1"></i> Pending
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-circle text-warning me-1"></i>
                        Confirmed
                      </div>
                      <!-- <div class="col-auto">
                        <i class="fas fa-circle text-danger me-1"></i> Expired
                      </div> -->
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>Customer</th>
                          <th>Date</th>
                          <th>Plan</th>
                          <th>Amount</th>
                          <th>Status</th>
                          <th class="text-right">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach(function(transaction) { %>
                        <tr>
                          <td>
                            <h2 class="table-avatar">
                              <a href=""
                                ><img
                                  class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                  src="/img/profiles/avatar-05.jpg"
                                  alt="User Image"
                                />
                                <%= transaction.user.fullname %></a
                              >
                            </h2>
                          </td>
                          <td><%= new Date(transaction.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                          <td><%= transaction.purchasedPlan
                            %></td>
                          <td>€<%= transaction.amountPaid %></td>
                          <td>
                            <span class="badge bg-info-light text-info"
                              ><%= transaction.transactionStatus %></span
                            >
                          </td>
                          <td class="text-right">
                            <div class="dropdown dropdown-action">
                              <a
                                href="#"
                                class="action-icon dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                ><i class="fas fa-ellipsis-h"></i
                              ></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a
                                  class="dropdown-item"
                                  href="/admin/edit-invoice"
                                  ><i class="far fa-edit me-2"></i>Edit</a
                                >
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-trash-alt me-2"></i
                                  >Delete</a
                                >
                                <a
                                  class="dropdown-item"
                                  href="/admin/invoice-details"
                                  ><i class="far fa-eye me-2"></i>View</a
                                >
                              </div>
                            </div>
                          </td>
                        </tr> 
                        <% }); %>      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="card">
                <div class="card-header">
                  <div class="row align-center">
                    <div class="col">
                      <h5 class="card-title">Withdraw Confirmation</h5>
                    </div>
                    <div class="col-auto">
                      <a
                        href="#"
                        class="btn-right btn btn-sm btn-outline-primary"
                      >
                        View All
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <div class="row">
                      <div class="col-auto">
                        <i class="fas fa-circle text-success me-1"></i> Pending
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-circle text-warning me-1"></i>
                        Confirmed
                      </div>
                      <!-- <div class="col-auto">
                        <i class="fas fa-circle text-danger me-1"></i> Expired
                      </div> -->
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th>Customer</th>
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Status</th>
                          <th class="text-right">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% withdrawal.forEach(function(withdrawal) { %>
                        <tr>
                          <td>
                            <h2 class="table-avatar">
                              <a href="/admin/profile"
                                ><img
                                  class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                  src="/img/profiles/avatar-05.jpg"
                                  alt="User Image"
                                />
                                <%= withdrawal.user.fullname %></a
                              >
                            </h2>
                          </td>
                          <td><%= new Date(withdrawal.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                          <td>€<%= withdrawal.amount %></td>
                          <td>
                            <span class="badge bg-info-light text-info"
                              >Pending</span
                            >
                          </td>
                          <td class="text-right">
                            <div class="dropdown dropdown-action">
                              <a
                                href="#"
                                class="action-icon dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                ><i class="fas fa-ellipsis-h"></i
                              ></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a
                                  class="dropdown-item"
                                  href="/admin/edit-invoice"
                                  ><i class="far fa-edit me-2"></i>Edit</a
                                >
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i class="far fa-trash-alt me-2"></i
                                  >Delete</a
                                >
                                <a
                                  class="dropdown-item"
                                  href="/admin/invoice-details"
                                  ><i class="far fa-eye me-2"></i>View</a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>  
                        <% }); %>     
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/apexchart/apexcharts.min.js"></script>
    <script src="/plugins/apexchart/chart-data.js"></script>

    <script src="/js/script.js"></script>
    <script>

$(document).ready(function(){
  var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
      sidebar.remove()
});    
  </script>
  </body>
</html>
