<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
        
        <!-- header tag starts here  -->
  
        <%- include('./partials/header') -%>
  
        <!-- header tag ends here -->
  
        <!-- sidebar tag starts here  -->
  
        <%- include('./partials/sidebar') -%>
  
        <!-- sidebar tag ends here -->

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="content-page-header">
              <h5>Edit Customers</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <form action="#">
                <div class="card-body">
                  <div class="form-group-item">
                    <h5 class="form-title">Basic Details</h5>
                    <div class="profile-picture">
                      <div class="upload-profile">
                        <div class="profile-img">
                          <img
                            id="blah"
                            class="avatar"
                            src="/img/profiles/avatar-10.jpg"
                            alt
                          />
                        </div>
                        <div class="add-profile">
                          <h5>Upload a New Photo</h5>
                          <span>Profile-pic.jpg</span>
                        </div>
                      </div>
                      <div class="img-upload">
                        <label class="btn btn-primary">
                          Upload <input type="file" />
                        </label>
                        <a class="btn btn-remove">Remove</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Name</label>
                          <input
                            type="text"
                            class="form-control"
                            Value="John Smith"
                            placeholder="Enter Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            value="john@example.com"
                            placeholder="Enter Email Address"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Phone</label>
                          <input
                            type="text"
                            id="mobile_code"
                            class="form-control"
                            value="+1 989-438-3131"
                            placeholder="Phone Number"
                            name="name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Currency</label>
                          <select class="select">
                            <option>Select Currency</option>
                            <option>₹</option>
                            <option>$</option>
                            <option>£</option>
                            <option>€</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Website</label>
                          <input
                            type="text"
                            class="form-control"
                            value="www.example.com"
                            placeholder="Enter Website Address"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Notes</label>
                          <input
                            type="email"
                            class="form-control"
                            value="Lorem Ipsum is simply dummy"
                            placeholder="Enter Your Notes"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-item">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="billing-btn mb-2">
                          <h5 class="form-title">Billing Address</h5>
                        </div>
                        <div class="form-group">
                          <label>Name</label>
                          <input
                            type="text"
                            class="form-control"
                            value="John Smith"
                            placeholder="Enter Name"
                          />
                        </div>
                        <div class="form-group">
                          <label>Address Line 1</label>
                          <input
                            type="text"
                            class="form-control"
                            value="4581 Sunny Glen Lane"
                            placeholder="Enter Address 1"
                          />
                        </div>
                        <div class="form-group">
                          <label>Address Line 2</label>
                          <input
                            type="text"
                            class="form-control"
                            value="Cleveland, OH 44106"
                            placeholder="Enter Address 1"
                          />
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                              <label>Country</label>
                              <input
                                type="text"
                                class="form-control"
                                value="Australia"
                                placeholder="Country"
                              />
                            </div>
                            <div class="form-group">
                              <label>City</label>
                              <input
                                type="text"
                                class="form-control"
                                value="Melbourne"
                                placeholder="City"
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                              <label>State</label>
                              <input
                                type="text"
                                class="form-control"
                                value="Victoria"
                                placeholder="State"
                              />
                            </div>
                            <div class="form-group">
                              <label>Pincode</label>
                              <input
                                type="text"
                                class="form-control"
                                value="3000"
                                placeholder="Pincode"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="billing-btn">
                          <h5 class="form-title mb-0">Shipping Address</h5>
                          <a href="#" class="btn btn-primary"
                            >Copy from Billing</a
                          >
                        </div>
                        <div class="form-group">
                          <label>Name</label>
                          <input
                            type="text"
                            class="form-control"
                            value="John Smith"
                            placeholder="Enter Name"
                          />
                        </div>
                        <div class="form-group">
                          <label>Address Line 1</label>
                          <input
                            type="text"
                            class="form-control"
                            value="4581 Sunny Glen Lane"
                            placeholder="Enter Address 1"
                          />
                        </div>
                        <div class="form-group">
                          <label>Address Line 2</label>
                          <input
                            type="text"
                            class="form-control"
                            value="Cleveland, OH 44106"
                            placeholder="Enter Address 1"
                          />
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                              <label>Country</label>
                              <input
                                type="text"
                                class="form-control"
                                value="Australia"
                                placeholder="Country"
                              />
                            </div>
                            <div class="form-group">
                              <label>City</label>
                              <input
                                type="text"
                                class="form-control"
                                value="Melbourne"
                                placeholder="City"
                              />
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                              <label>State</label>
                              <input
                                type="text"
                                class="form-control"
                                value="Victoria "
                                placeholder="State"
                              />
                            </div>
                            <div class="form-group">
                              <label>Pincode</label>
                              <input
                                type="text"
                                class="form-control"
                                value="3000"
                                placeholder="Pincode"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-customer customer-additional-form">
                    <div class="row">
                      <h5 class="form-title">Bank Details</h5>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Bank Name</label>
                          <input
                            type="text"
                            class="form-control"
                            value="State Bank of India"
                            placeholder="Bank Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Branch</label>
                          <input
                            type="text"
                            class="form-control"
                            value="Chennai"
                            placeholder="Branch Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label>Account Holder Name</label>
                          <input
                            type="text"
                            class="form-control"
                            value="John Smith"
                            placeholder="Account Holder Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label>Account Number</label>
                          <input
                            type="text"
                            class="form-control"
                            value="123 456 78920"
                            placeholder="Account Number"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label>IFSC</label>
                          <input
                            type="text"
                            class="form-control"
                            value="SBIN0000800"
                            placeholder="IFSC Code"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="add-customer-btns text-end">
                    <a href="/admin/customers" class="btn customer-btn-cancel"
                      >Cancel</a
                    >
                    <a href="/admin/customers" class="btn customer-btn-save"
                      >Update</a
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/intlTelInput/js/intlTelInput-jquery.min.js"></script>

    <script src="/js/script.js"></script>

    <script>

      $(document).ready(function(){
        var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
            sidebar.remove()
      });    
        </script>
  </body>
</html>
