<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
        
		<!-- header tag starts here  -->
  
		<%- include('./partials/header') -%>
  
		<!-- header tag ends here -->
  
		<!-- sidebar tag starts here  -->
  
		<%- include('./partials/sidebar') -%>
  
		<!-- sidebar tag ends here -->

    <div class="page-wrapper" style="margin-top: 60px;">
      <div class="content container-fluid">
        <div class="page-header">
          <div class="content-page-header">
            <h5>Edit Investment Plan</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div class="form-group-item">
                <div class="col-lg-4 col-md-6 col-sm-12">     
                  <form action="/plans/:id/update" method="POST">
                <div class="form-group">
                  <label
                    >Edit Investment-Plan Title
                  </label
                  >
                  <input
                    type="text"
                    name="title"
                    class="form-control"
                    placeholder="Enter Investment-Plan Title"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="interestRate">Daily Interest Rate(%)</label>
                  <input
                    type="number"
                    name="interestRate"
                    class="form-control"
                    id="interestRate"
                    placeholder="Enter Interest Rate"
                    required
                  />
                </div>                  
                <div class="form-group">
                  <label
                    >Investment Duration
                  </label
                  >
                  <input
                    type="text"
                    name="duration"
                    class="form-control"
                    placeholder="Enter Investment Duration"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="interestRate">Interest (%)</label>
                  <input
                    type="number"
                    name="interest"
                    class="form-control"
                    id="interestRate"
                    placeholder="Enter Interest"
                    required
                  />
                </div>  
                <div class="form-group">
                  <label
                    >Minimum-Amount
                  </label
                  >
                  <input
                    type="text"
                    name="minimum_amount"
                    class="form-control"
                    placeholder="Enter Minimum-Amount"
                    required
                  />
                </div>
                <div class="form-group">
                  <label
                    >Maximum-Amount
                  </label
                  >
                  <input
                    type="text"
                    name="maximum_amount"
                    class="form-control"
                    placeholder="Enter Maximum-Amount"
                    required
                  />
                </div>
              </div>
                <button type="submit" class="btn btn-primary">
                  Add Plan
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>

    <script src="/plugins/summernote/summernote-lite.min.js"></script>

    <script src="/js/script.js"></script>

    <script>

      $(document).ready(function(){
        var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
            sidebar.remove()
      });    
        </script>
  </body>
</html>
