<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body class="error-page">
    <div class="main-wrapper">
      <div class="error-box">
        <h1>404</h1>
        <h3 class="h2 mb-3">
          <i class="fas fa-exclamation-circle"></i> Oops! Page not found!
        </h3>
        <p class="h4 font-weight-normal">
          The page you requested was not found.
        </p>
        <a href="/admin/dashboard" class="btn btn-primary">Back to Home</a>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/js/script.js"></script>
  </body>
</html>
