<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper login-body">
      <div class="login-wrapper">
        <div class="container">
          <img
            class="img-fluid logo-dark mb-2"
            src="/assets/images/jp.png"
            alt="Logo"
          />
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <h1>Login</h1>
                <p class="account-subtitle">Access to our dashboard</p>
                <form action="/admin/login" method="post">
                  <div class="form-group">
                    <label class="form-control-label">Email / Username</label>
                    <input
                        type="text"
                        name="identifier"
                        class="form-control"
                        placeholder="Enter Email or Username"
                        autocomplete="off"
                        required
                      />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Password</label>
                    <div class="pass-group">
                      <input
                        type="password"
                        class="form-control pass-input"
                        placeholder="Enter password"
                        name="password"
                      />
                      <span class="fas fa-eye toggle-password"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="cb1"
                          />
                          <label class="custom-control-label" for="cb1"
                            >Remember me</label
                          >
                        </div>
                      </div>
                      <div class="col-6 text-end">
                        <a class="forgot-link" href="/admin/forgot-password"
                          >Forgot Password ?</a
                        >
                      </div>
                    </div>
                  </div>
                  <button
                    class="btn btn-lg btn-block btn-primary w-100"
                    type="submit"
                  >
                    Login
                  </button>
                  <div class="login-or">
                    <span class="or-line"></span>
                    <span class="span-or">or</span>
                  </div>

                  <!-- <div class="social-login mb-3">
                    <span>Login with</span>
                    <a href="#" class="facebook"
                      ><i class="fab fa-facebook-f"></i></a
                    ><a href="#" class="google"
                      ><i class="fab fa-google"></i
                    ></a>
                  </div> -->

                  <div class="text-center dont-have">
                    Don't have an account yet?
                    <a href="/admin/register">Register</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <script>
      $(document).ready(function () {
        var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
        sidebar.remove()
      });    
    </script> -->

    <!-- <script src="/js/jquery-3.7.0.min.js"></script> -->

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/script.js"></script>
  </body>
</html>
