<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
        
        <!-- header tag starts here  -->
  
        <%- include('./partials/header') -%>
  
        <!-- header tag ends here -->
  
        <!-- sidebar tag starts here  -->
  
        <%- include('./partials/sidebar') -%>
  
        <!-- sidebar tag ends here -->

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="content-page-header">
              <h5>Users</h5>
              <div class="list-btn">
                <ul class="filter-list">
                  <li>
                    <a
                      class="btn btn-filters w-auto popup-toggle"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="Filter"
                      ><span class="me-2"
                        ><img
                          src="/img/icons/filter-icon.svg"
                          alt="filter" /></span
                      >Filter
                    </a>
                  </li>
                  <li>
                    <a
                      class="btn-filters"
                      href="javascript:void(0);"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="Grid-View"
                      ><span><i class="fe fe-grid"></i></span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="active btn-filters"
                      href="javascript:void(0);"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="List-View"
                      ><span><i class="fe fe-list"></i></span>
                    </a>
                  </li>
                  <li>
                    <a class="btn btn-primary" href="/admin/admin"
                      ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i
                      >Add Admin</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-center table-hover datatable">
                      <thead class="thead-light">
                        <tr>
                          <th>#</th>
                          <th>User Name</th>
                          <th>Mobile Number</th>
                          <th>Role</th>
                          <th>Last Activity</th>
                          <th>Created on</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>
                            <h2 class="table-avatar">
                              <a
                                href="/admin/profile"
                                class="avatar avatar-sm me-2"
                                ><img
                                  class="avatar-img rounded-circle"
                                  src="/img/profiles/avatar-14.jpg"
                                  alt="User Image"
                              /></a>
                              <a href="/admin/profile"
                                >John Smith
                                <span
                                  ><span
                                    class="__cf_email__"
                                    data-cfemail="c2a8adaaac82a7baa3afb2aea7eca1adaf"
                                    >[email&#160;protected]</span
                                  ></span
                                ></a
                              >
                            </h2>
                          </td>
                          <td>+1 989-438-3131</td>
                          <td>$4,220</td>
                          <td>
                            <span
                              class="badge badge-pill bg-ash-gray text-gray-light"
                              >10 mins ago</span
                            >
                          </td>
                          <td>19 Dec 2022, 06:12 PM</td>
                          <td>
                            <span class="badge badge-pill bg-success-light"
                              >Active</span
                            >
                          </td>
                          <td class="d-flex align-items-center">
                            <div class="dropdown dropdown-action">
                              <a
                                href="#"
                                class="btn-action-icon"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                ><i class="fas fa-ellipsis-v"></i
                              ></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <ul>
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="/admin/edit-admin"
                                      ><i class="far fa-edit me-2"></i>Edit</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="javascript:void(0);"
                                      data-bs-toggle="modal"
                                      data-bs-target="#delete_modal"
                                      ><i class="far fa-trash-alt me-2"></i
                                      >Delete</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>2</td>
                          <td>
                            <h2 class="table-avatar">
                              <a
                                href="/admin/profile"
                                class="avatar avatar-sm me-2"
                                ><img
                                  class="avatar-img rounded-circle"
                                  src="/img/profiles/avatar-16.jpg"
                                  alt="User Image"
                              /></a>
                              <a href="/admin/profile"
                                >Robert
                                <span
                                  ><span
                                    class="__cf_email__"
                                    data-cfemail="3f4d505d5a4d4b7f5a475e524f535a115c5052"
                                    >[email&#160;protected]</span
                                  ></span
                                ></a
                              >
                            </h2>
                          </td>
                          <td>+1 917-409-0861</td>
                          <td>$2,789</td>
                          <td>
                            <span class="badge badge-pill bg-success-light"
                              >Online</span
                            >
                          </td>
                          <td>04 Dec 2022, 12:38 PM</td>
                          <td>
                            <span
                              class="badge badge-pill bg-ash-gray text-gray-light"
                              >Restricted</span
                            >
                          </td>
                          <td class="d-flex align-items-center">
                            <div class="dropdown dropdown-action">
                              <a
                                href="#"
                                class="btn-action-icon"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                ><i class="fas fa-ellipsis-v"></i
                              ></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <ul>
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="/admin/edit-admin"
                                      ><i class="far fa-edit me-2"></i>Edit</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="javascript:void(0);"
                                      data-bs-toggle="modal"
                                      data-bs-target="#delete_modal"
                                      ><i class="far fa-trash-alt me-2"></i
                                      >Delete</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="toggle-sidebar">
        <div class="sidebar-layout-filter">
          <div class="sidebar-header">
            <h5>Filter</h5>
            <a href="#" class="sidebar-closes"
              ><i class="fa-regular fa-circle-xmark"></i
            ></a>
          </div>
          <div class="sidebar-body">
            <form action="#" autocomplete="off">
              <div class="accordion" id="accordionMain1">
                <div class="card-header-new" id="headingOne">
                  <h6 class="filter-title">
                    <a
                      href="javascript:void(0);"
                      class="w-100"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Customer
                      <span class="float-end"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                    </a>
                  </h6>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample1"
                >
                  <div class="card-body-chat">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="checkBoxes1">
                          <div class="form-custom">
                            <input
                              type="text"
                              class="form-control"
                              id="member_search1"
                              placeholder="Search here"
                            />
                            <span
                              ><img src="/img/icons/search.svg" alt="img"
                            /></span>
                          </div>
                          <div class="selectBox-cont">
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Brian Johnson
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Russell Copeland
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Greg Lynch
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> John Blair
                            </label>

                            <div class="view-content">
                              <div class="viewall-One">
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Barbara Moore
                                </label>
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Hendry Evan
                                </label>
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Richard Miles
                                </label>
                              </div>
                              <div class="view-all">
                                <a
                                  href="javascript:void(0);"
                                  class="viewall-button-One"
                                  ><span class="me-2">View All</span
                                  ><span
                                    ><i
                                      class="fa fa-circle-chevron-down"
                                    ></i></span
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion" id="accordionMain2">
                <div class="card-header-new" id="headingTwo">
                  <h6 class="filter-title">
                    <a
                      href="javascript:void(0);"
                      class="w-100 collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="true"
                      aria-controls="collapseTwo"
                    >
                      Select Date
                      <span class="float-end"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                    </a>
                  </h6>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample2"
                >
                  <div class="card-body-chat">
                    <div class="form-group">
                      <label class="form-control-label">From</label>
                      <div class="cal-icon">
                        <input
                          type="email"
                          class="form-control datetimepicker"
                          placeholder="DD-MM-YYYY"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">To</label>
                      <div class="cal-icon">
                        <input
                          type="email"
                          class="form-control datetimepicker"
                          placeholder="DD-MM-YYYY"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion" id="accordionMain3">
                <div class="card-header-new" id="headingThree">
                  <h6 class="filter-title">
                    <a
                      href="javascript:void(0);"
                      class="w-100 collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="true"
                      aria-controls="collapseThree"
                    >
                      By Status
                      <span class="float-end"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                    </a>
                  </h6>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample3"
                >
                  <div class="card-body-chat">
                    <div id="checkBoxes2">
                      <div class="form-custom">
                        <input
                          type="text"
                          class="form-control"
                          id="member_search2"
                          placeholder="Search here"
                        />
                        <span
                          ><img src="/img/icons/search.svg" alt="img"
                        /></span>
                      </div>
                      <div class="selectBox-cont">
                        <label class="custom_check w-100">
                          <input type="checkbox" name="bystatus" />
                          <span class="checkmark"></span> All Invoices
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="bystatus" />
                          <span class="checkmark"></span> Paid
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="bystatus" />
                          <span class="checkmark"></span> Overdue
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="bystatus" />
                          <span class="checkmark"></span> Draft
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="bystatus" />
                          <span class="checkmark"></span> Recurring
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="bystatus" />
                          <span class="checkmark"></span> Cancelled
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion accordion-last" id="accordionMain4">
                <div class="card-header-new" id="headingFour">
                  <h6 class="filter-title">
                    <a
                      href="javascript:void(0);"
                      class="w-100 collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                      aria-expanded="true"
                      aria-controls="collapseFour"
                    >
                      Category
                      <span class="float-end"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                    </a>
                  </h6>
                </div>
                <div
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample4"
                >
                  <div class="card-body-chat">
                    <div id="checkBoxes3">
                      <div class="selectBox-cont">
                        <label class="custom_check w-100">
                          <input type="checkbox" name="category" />
                          <span class="checkmark"></span> Advertising
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="category" />
                          <span class="checkmark"></span> Food
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="category" />
                          <span class="checkmark"></span> Repairs
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="category" />
                          <span class="checkmark"></span> Software
                        </label>

                        <div class="view-content">
                          <div class="viewall-Two">
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Stationary
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Medical
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Designing
                            </label>
                          </div>
                          <div class="view-all">
                            <a
                              href="javascript:void(0);"
                              class="viewall-button-Two"
                              ><span class="me-2">View All</span
                              ><span
                                ><i class="fa fa-circle-chevron-down"></i></span
                            ></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <button
                type="submit"
                class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary"
              >
                <span
                  ><img
                    src="/img/icons/chart.svg"
                    class="me-2"
                    alt="Generate report" /></span
                >Generate report
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="modal custom-modal fade" id="delete_modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-header">
                <h3>Delete Users</h3>
                <p>Are you sure want to delete?</p>
              </div>
              <div class="modal-btn delete-action">
                <div class="row">
                  <div class="col-6">
                    <a href="#" class="btn btn-primary paid-continue-btn"
                      >Delete</a
                    >
                  </div>
                  <div class="col-6">
                    <a
                      href="#"
                      data-bs-dismiss="modal"
                      class="btn btn-primary paid-cancel-btn"
                      >Cancel</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      data-cfasync="false"
      src="https://kanakku.dreamguystech.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/plugins/datatables/datatables.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>

    <script src="/js/script.js"></script>
  </body>
</html>
