<!DOCTYPE html>
<html lang="en">
<!-- head tag starts here  -->

<%- include('./partials/head') -%>

  <!-- head tag ends here -->
  <style>
    /* Style for the page-wrapper */
    .page-wrapper {
      margin-top: 60px;
      background-color: #f0f0f0;
      /* Change the background color as needed */
      padding: 20px;
    }

    /* Style for the page-header */
    .page-header {
      background-color: #f0f0f0;
      /* Change the background color as needed */
      color: #333;
      padding: 10px;
    }

    /* Style for the content-page-header */
    .content-page-header h5 {
      font-size: 24px;
      /* Change the font size as needed */
      margin: 0;
    }

    /* Style for the card-body */
    .card-body {
      border: 1px solid #ccc;
      /* Add a border as needed */
      padding: 20px;
      background-color: white;
    }

    /* Style for the card-title */
    .card-title {
      font-weight: bold;
      font-size: 18px;
    }

    /* Style for the card-text */
    .card-text {
      font-size: 12px;
      margin-top: 10px;
      /* Add margin between card-title and card-text */
    }

    /* Style for the QR code image */
  .qr-code {
    max-width: 100%; /* Ensure the QR code image fits within its container */
    display: block;
    margin-top: 20px; /* Adjust margin as needed */
  }
  </style>

  <body>
    <div class="main-wrapper">
      <!-- header tag starts here  -->

      <%- include('./partials/header') -%>

        <!-- header tag ends here -->

        <!-- sidebar tag starts here  -->

        <%- include('./partials/sidebar') -%>

          <!-- sidebar tag ends here -->

          <div class="page-wrapper" style="margin-top: 60px;">
            <div class="content container-fluid">
              <div class="page-header">
                <div class="content-page-header">
                  <h5>Payment List</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <% data.forEach(function(wallet) { %>
                  <div class="card-body">

                    <p class="card-title"><%= wallet.wallet_type %></</p>
                    <p class="card-text"><%= wallet.wallet_address %></p>

                    <!-- QR code image -->
                    <img class="qr-code" src="<%= wallet.qr_code %>" alt="QR Code">
                  </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>

          <script src="/js/jquery-3.7.0.min.js"></script>

          <script src="/js/bootstrap.bundle.min.js"></script>

          <script src="/js/feather.min.js"></script>

          <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

          <script src="/plugins/select2/js/select2.min.js"></script>

          <script src="/plugins/moment/moment.min.js"></script>

          <script src="/plugins/summernote/summernote-lite.min.js"></script>

          <script src="/js/script.js"></script>

          <script>

            $(document).ready(function () {
              var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
              sidebar.remove()
            });    
          </script>
  </body>

</html>
