<!DOCTYPE html>
<html lang="en">
<!-- head tag starts here  -->

<%- include('./partials/head') -%>

  <!-- head tag ends here -->
<style>
/* Styles for the modal container */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background overlay */
  z-index: 1;
  text-align: center;
}

/* Styles for the modal content */
.modal-content {
  background-color: #fff; /* White background color */
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%; /* Center the modal vertically */
  left: 50%; /* Center the modal horizontally */
  transform: translate(-50%, -50%); /* Center it vertically and horizontally */
  padding: 20px;
  max-width: 300px; /* Set a maximum width for the modal */
}

/* Close button for the modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/* Button for confirming the delete action */
#confirmDelete {
  background-color: #f44336; /* Red background color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

</style>
  <body>
    
    <div class="main-wrapper">
      <!-- header tag starts here  -->

      <%- include('./partials/header') -%>

        <!-- header tag ends here -->

        <!-- sidebar tag starts here  -->

        <%- include('./partials/sidebar') -%>

          <!-- sidebar tag ends here -->
          <div class="page-wrapper" style="margin-top: 50px;">
            <div class="content container-fluid">
              <div class="page-header">
                <div class="content-page-header">
                  <h5>Investment Plans</h5>
                  <div class="list-btn">
                    <a class="btn btn-primary" href="/admin/add-plan"><i class="fa fa-plus-circle me-2"
                        aria-hidden="true"></i>Add Plan</a>
                  </div>
                </div>         
            </div>
          </div>

                   
          <!-- <div class="plan-cards" style="margin: 0 20px;">
            <% data.forEach(function(plan) { %>
              <div class="plan-card" style="margin:20px 0">
                <h2 style="margin: 10px 0;"><%= plan.title %></h2>
                <h5 style="margin: 10px 0;">Interest Rate: <%= plan.interestRate %>%</h5>
                <h5 style="margin: 10px 0;">Duration: <%= plan.duration %> days</h5>
                <h5 style="margin: 10px 0;">Interest: <%= plan.interest %>%</h5>
                <h5 style="margin: 10px 0;">Minimum Amount: $<%= plan.minimum_amount.toFixed(2) %></h5>
                <h5 style="margin: 10px 0;">Maximum Amount: $<%= plan.maximum_amount.toFixed(2) %></h5>
              </div>
            <% }); %>
          </div> -->

          <!-- delete modal -->
          <div id="deleteModal" class="modal">
            <div class="modal-content">
              <span class="close" id="closeModal">&times;</span>
              <p>Are you sure you want to delete this plan?</p>
              <button id="confirmDelete">Delete</button>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-sm-12">
              <div class="card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-center table-hover datatable">
                      <thead class="thead-light">
                        <tr>
                          <th>Title</th>
                          <th>Interest Rate</th>
                          <th>Duration</th>
                          <th>Interest</th>
                          <th>Minimum Amount</th>
                          <th>Maximum Amount</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach(function(plan) { %>
                        <tr>
                          <td><%= plan.title %></td>
                          <td><%= plan.interestRate %>%</td>
                          <td><%= plan.duration %> days</td>
                          <td><%= plan.interest %>%</td>
                          <td>$<%= plan.minimum_amount.toFixed(2) %></td>
                          <td>$<%= plan.maximum_amount.toFixed(2) %></td>
                          <td class="d-flex align-items-center">
                            <div class="dropdown dropdown-action">
                              <a
                                href="#"
                                class="btn-action-icon"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                ><i class="fas fa-ellipsis-v"></i
                              ></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <ul>
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="/admin/edit-plan"
                                      ><i class="far fa-edit me-2"></i>Edit</a
                                    >
                                  </li>
                                  <!-- <li>
                                    <a
                                      class="dropdown-item"
                                      href="#"
                                      data-bs-toggle="modal"
                                      data-bs-target="#delete_modal"
                                      ><i class="far fa-trash-alt me-2"></i
                                      >Delete</a
                                    >
                                  </li> -->
                                  <li>
                                    <a
                                      class="dropdown-item delete-link"
                                      href="#"
                                      data-bs-toggle="modal"
                                      data-bs-target="#delete_modal"
                                    >
                                      <i class="far fa-trash-alt me-2"></i>Delete
                                    </a>
                                  </li>   
                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <% }); %>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

         
    </div>
    
    <script>
      // Get references to modal elements
const deleteModal = document.getElementById('deleteModal');
const closeModal = document.getElementById('closeModal');
const confirmDeleteButton = document.getElementById('confirmDelete');

// Add a click event listener to each delete link
const deleteLinks = document.querySelectorAll('.delete-link');

deleteLinks.forEach((link) => {
  link.addEventListener('click', (event) => {
    event.preventDefault();

    // Show the modal
    deleteModal.style.display = 'block';

    // When the user clicks the close button, hide the modal
    closeModal.addEventListener('click', () => {
      deleteModal.style.display = 'none';
    });

    // When the user clicks the Delete button in the modal
    confirmDeleteButton.addEventListener('click', () => {
      deleteModal.style.display = 'none';

      // Proceed with the delete action
      const planId = link.getAttribute('data-plan-id');

      fetch(`/plans/${planId}/delete`, {
        method: 'DELETE',
      })
        .then((response) => {
          if (response.ok) {
            // Plan deleted successfully
            // You can update the UI or redirect to another page as needed
            // For example, window.location.href = '/plans' to redirect to the plans list
          } else {
            // Handle errors, e.g., display an error message
            console.error('Error deleting plan');
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });
  });
});

    </script>
    
    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/plugins/datatables/datatables.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>

    <script src="/js/script.js"></script>

    <script>

      $(document).ready(function(){
        var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
            sidebar.remove()
      });    
        </script>
  </body>

</html>