<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper login-body">
      <div class="login-wrapper">
        <div class="container">
          <img
            class="img-fluid logo-dark mb-2"
            src="/assets/images/jp.png"
            alt="Logo"
          />
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <h1>Register</h1>
                <p class="account-subtitle">Access to our dashboard</p>

                <!-- <form
                  action="/admin/register"
                >
                  <div class="form-group">
                    <label class="form-control-label">Username</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Email Address</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Password</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Confirm Password</label>
                    <input class="form-control" type="text" />
                  </div>
                  <div class="form-group mb-0">
                    <button
                      class="btn btn-lg btn-block btn-primary w-100"
                      type="submit"
                    >
                      Register
                    </button>
                  </div>
                </form> -->

                <form action="/admin/register" method="post">
                  <div class="form-group">
                    <label class="form-control-label" for="username"
                      >Username</label
                    >
                    <input
                      class="form-control"
                      type="text"
                      id="username"
                      name="username"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label" for="email"
                      >Email Address</label
                    >
                    <input
                      class="form-control"
                      type="email"
                      id="email"
                      name="email"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Password</label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Confirm Password</label>
                    <input
                      type="password"
                      id="password_confirmation"
                      class="form-control"
                      placeholder="Confirm Password"
                      required
                    />
                  </div>
                  <div id="password-error" style="color: red"></div>
                  <input
                    type="hidden"
                    name="hidden_password"
                    id="hidden_password"
                  />

                  <script>
                    const password = document.getElementById("password");
                    const passwordConfirmation = document.getElementById(
                      "password_confirmation"
                    );
                    const hiddenPassword =
                      document.getElementById("hidden_password");
                    const errorDiv = document.getElementById("password-error");

                    function validatePassword() {
                      if (password.value !== passwordConfirmation.value) {
                        errorDiv.textContent = "Passwords do not match";
                        hiddenPassword.value = "";
                      } else {
                        errorDiv.textContent = "";
                        hiddenPassword.value = password.value;
                      }
                    }

                    password.addEventListener("input", validatePassword);
                    passwordConfirmation.addEventListener(
                      "input",
                      validatePassword
                    );
                  </script>
                  <div class="form-group mb-0">
                    <button
                      class="btn btn-lg btn-block btn-primary w-100"
                      type="submit"
                    >
                      Register
                    </button>
                  </div>
                </form>
                <!-- <div class="login-or">
                  <span class="or-line"></span>
                  <span class="span-or">or</span>
                </div> -->

                <!-- <div class="social-login">
                  <span>Register with</span>
                  <a href="#" class="facebook"
                    ><i class="fab fa-facebook-f"></i></a
                  ><a href="#" class="google"><i class="fab fa-google"></i></a>
                </div> -->

                <div class="text-center dont-have">
                  Already have an account? <a href="/admin/login">Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <script>

      $(document).ready(function () {
        var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
        sidebar.remove()
      });    
    </script>

    <script src="/js/jquery-3.7.0.min.js"></script> -->

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/js/script.js"></script>
  </body>
</html>
