<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
        <div class="main-wrapper">
        
            <!-- header tag starts here  -->
      
            <%- include('./partials/header') -%>
      
            <!-- header tag ends here -->
      
            <!-- sidebar tag starts here  -->
      
            <%- include('./partials/sidebar') -%>
      
            <!-- sidebar tag ends here -->

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="row">
            <div class="col-xl-3 col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="page-header">
                    <div class="content-page-header">
                      <h5>Settings</h5>
                    </div>
                  </div>

                  <div class="widget settings-menu mb-0">
                    <ul>
                      <li class="nav-item">
                        <a href="/admin/settings" class="nav-link active">
                          <i class="fe fe-user"></i>
                          <span>Account Settings</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="/admin/company-settings" class="nav-link">
                          <i class="fe fe-settings"></i>
                          <span>Company Settings</span>
                        </a>
                      </li>

                      <!-- <li class="nav-item">
<a href="payment-settings.html" class="nav-link">
<i class="fe fe-credit-card"></i> <span>Payment Methods</span>
</a>
</li> -->
                      <li class="nav-item">
                        <a href="/admin/bank-account" class="nav-link">
                          <i class="fe fe-aperture"></i>
                          <span>Wallet Settings</span>
                        </a>
                      </li>
                      <!-- <li class="nav-item">
<a href="tax-rats.html" class="nav-link">
<i class="fe fe-file-text"></i> <span>Tax Rates</span>
</a>
</li>
<li class="nav-item">
<a href="email-settings.html" class="nav-link">
<i class="fe fe-mail"></i> <span>Email Settings</span>
</a>
</li> -->
                      <!-- <li class="nav-item">
<a href="preferences.html" class="nav-link">
<i class="fe fe-settings"></i> <span>Preference Settings</span>
</a>
</li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-md-8">
              <div class="content w-100 pt-0">
                <div class="content-page-header">
                  <h5>Account Settings</h5>
                </div>
                <div class="row">
                  <div class="profile-picture">
                    <div class="upload-profile me-2">
                      <div class="profile-img">
                        <img
                          id="blah"
                          class="avatar"
                          src="/img/profiles/avatar-10.jpg"
                          alt
                        />
                      </div>
                    </div>
                    <div class="img-upload">
                      <label class="btn btn-primary">
                        Upload new picture <input type="file" />
                      </label>
                      <a class="btn btn-remove">Delete</a>
                      <p class="mt-1">
                        Logo Should be minimum 152 * 152 Supported File format
                        JPG,PNG,SVG
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-title">
                      <h5>General Information</h5>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter First Name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Last Name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Email</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email Address"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Mobile Number</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group mb-0">
                      <label>Gender</label>
                      <select class="select">
                        <option>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Date of Birth</label>
                      <div class="cal-icon cal-icon-info">
                        <input
                          type="text"
                          class="datetimepicker form-control"
                          placeholder="Select Date"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-title">
                      <h5>Address Information</h5>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>Address</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your Address"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Country</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your Country"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>State</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your State"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>City</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter your City"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Postal Code</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Your Postal Code"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="btn-path">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-cancel bg-primary-light me-3"
                        >Cancel</a
                      >
                      <a href="javascript:void(0);" class="btn btn-primary"
                        >Save Changes</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/js/feather.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/js/script.js"></script>
  </body>
</html>
