<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
      <!-- header tag starts here  -->

      <%- include('./partials/header') -%>

      <!-- header tag ends here -->

      <!-- sidebar tag starts here  -->

      <%- include('./partials/sidebar') -%>

      <!-- sidebar tag ends here -->

      <div class="page-wrapper" style="margin-top: 20px">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="content-page-header">
              <h5>Customers</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-center table-hover datatable">
                      <thead class="thead-light">
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Balance</th>
                          <th>Created</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach(function(user) { %>
                        <tr>
                          <td><%= user.fullname %></td>
                          <td><%= user.email %></td>
                          <td><%= user.phone %></td>
                          <td>€<%= user.walletBalance %></td>
                          <td><%= new Date(user.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %></td>
                          <!-- <td>
                            <span class="badge badge-pill bg-success-light"
                              >Active</span
                            >
                          </td> -->
                          <td class="d-flex align-items-center">
                            <!-- <a
                              href="add-invoice.html"
                              class="btn btn-greys me-2"
                              ><i class="fa fa-plus-circle me-1"></i> Invoice</a
                            > -->
                            <div class="dropdown dropdown-action">
                              <a
                                href="#"
                                class="btn-action-icon"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                ><i class="fas fa-ellipsis-v"></i
                              ></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <ul>
                                  <li>
                                    <a class="dropdown-item" href="#"
                                      ><i class="far fa-edit me-2"></i>View</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="/admin/edit-user"
                                      ><i class="far fa-edit me-2"></i>Edit</a
                                    >
                                  </li>
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="javascript:void(0);"
                                      data-bs-toggle="modal"
                                      data-bs-target="#delete_modal"
                                      ><i class="far fa-trash-alt me-2"></i
                                      >Delete</a
                                    >
                                  </li>

                                  <!-- <li>
                                    <a class="dropdown-item" href=""
                                      ><i class="fa-solid fa-power-off me-2"></i
                                      >Activate</a
                                    >
                                  </li> -->
                                  <!-- <li>
                                    <a class="dropdown-item" href=""
                                      ><i class="far fa-bell-slash me-2"></i
                                      >Deactivate</a
                                    >
                                  </li> -->
                                </ul>
                              </div>
                            </div>
                            <% }); %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal custom-modal fade" id="delete_modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-header">
                <h3>Delete Customer</h3>
                <p>Are you sure want to delete?</p>
              </div>
              <div class="modal-btn delete-action">
                <div class="row">
                  <div class="col-6">
                    <button
                      type="reset"
                      data-bs-dismiss="modal"
                      class="w-100 btn btn-primary paid-continue-btn"
                    >
                      Delete
                    </button>
                  </div>
                  <div class="col-6">
                    <button
                      type="submit"
                      data-bs-dismiss="modal"
                      class="w-100 btn btn-primary paid-cancel-btn"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/plugins/datatables/datatables.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>

    <script src="/js/script.js"></script>

    <script>
      $(document).ready(function () {
        var sidebar = document.querySelector(".sticky-sidebar.siderbar-view");
        sidebar.remove();
      });
    </script>
  </body>
</html>

