<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <div class="main-wrapper">
      <!-- header tag starts here  -->

      <%- include('./partials/header') -%>

      <!-- header tag ends here -->

      <!-- sidebar tag starts here  -->

      <%- include('./partials/sidebar') -%>

      <!-- sidebar tag ends here -->

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="content-page-header">
              <h5>Transactions</h5>
              <div class="list-btn">
                <ul class="filter-list">
                  <li>
                    <a
                      class="btn btn-filters w-auto popup-toggle"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="Filter"
                      ><span class="me-2"
                        ><img
                          src="/img/icons/filter-icon.svg"
                          alt="filter" /></span
                      >Filter
                    </a>
                  </li>
                  <li>
                    <a
                      class="btn-filters"
                      href="javascript:void(0);"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="Grid-View"
                      ><span><i class="fe fe-grid"></i></span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="active btn-filters"
                      href="javascript:void(0);"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      data-bs-original-title="List-View"
                      ><span><i class="fe fe-list"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="filter_inputs" class="card filter-card">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-center table-hover datatable">
                      <thead class="thead-light">
                        <tr>
                          <th>#</th>
                          <th>Type</th>
                          <th>Amount</th>
                          <th>Date</th>
                          <th>Payment Type</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td>Wallet Topup</td>
                          <td class="text-success-light">+$650</td>
                          <td>19 Dec 2022, 06:12 PM</td>
                          <td>Paypal</td>
                          <td>
                            <span class="badge badge-pill bg-success-light"
                              >Completed</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>Purchase</td>
                          <td class="text-danger">+$350</td>
                          <td>19 Dec 2022, 06:12 PM</td>
                          <td>Cash</td>
                          <td>
                            <span class="badge badge-pill bg-danger-light"
                              >Cancel</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>Refund</td>
                          <td class="text-success-light">+100</td>
                          <td>20 Jan 2022, 06:12 PM</td>
                          <td>Paypal</td>
                          <td>
                            <span class="badge badge-pill bg-success-light"
                              >Completed</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>Wallet Topup</td>
                          <td class="text-success-light">-$650</td>
                          <td>20 Jun 2022, 06:12 PM</td>
                          <td>Cash</td>
                          <td>
                            <span class="badge badge-pill bg-success-light"
                              >Completed</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>Purchase</td>
                          <td class="text-danger">+$350</td>
                          <td>19 Dec 2022, 06:12 PM</td>
                          <td>Paypal</td>
                          <td>
                            <span class="badge badge-pill bg-danger-light"
                              >Cancel</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>Refund</td>
                          <td class="text-danger">+$100</td>
                          <td>15 Jan 2022, 06:12 PM</td>
                          <td>Cash</td>
                          <td>
                            <span class="badge badge-pill bg-danger-light"
                              >Cancel</span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="toggle-sidebar">
        <div class="sidebar-layout-filter">
          <div class="sidebar-header">
            <h5>Filter</h5>
            <a href="#" class="sidebar-closes"
              ><i class="fa-regular fa-circle-xmark"></i
            ></a>
          </div>
          <div class="sidebar-body">
            <form action="#" autocomplete="off">
              <div class="accordion" id="accordionMain1">
                <div class="card-header-new" id="headingOne">
                  <h6 class="filter-title">
                    <a
                      href="javascript:void(0);"
                      class="w-100"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Customer
                      <span class="float-end"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                    </a>
                  </h6>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample1"
                >
                  <div class="card-body-chat">
                    <div class="row">
                      <div class="col-md-12">
                        <div id="checkBoxes1">
                          <div class="form-custom">
                            <input
                              type="text"
                              class="form-control"
                              id="member_search1"
                              placeholder="Search here"
                            />
                            <span
                              ><img src="/img/icons/search.svg" alt="img"
                            /></span>
                          </div>
                          <div class="selectBox-cont">
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Brian Johnson
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Russell Copeland
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Greg Lynch
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> John Blair
                            </label>

                            <div class="view-content">
                              <div class="viewall-One">
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Barbara Moore
                                </label>
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Hendry Evan
                                </label>
                                <label class="custom_check w-100">
                                  <input type="checkbox" name="username" />
                                  <span class="checkmark"></span> Richard Miles
                                </label>
                              </div>
                              <div class="view-all">
                                <a
                                  href="javascript:void(0);"
                                  class="viewall-button-One"
                                  ><span class="me-2">View All</span
                                  ><span
                                    ><i
                                      class="fa fa-circle-chevron-down"
                                    ></i></span
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion" id="accordionMain2">
                <div class="card-header-new" id="headingTwo">
                  <h6 class="filter-title">
                    <a
                      href="javascript:void(0);"
                      class="w-100 collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo"
                      aria-expanded="true"
                      aria-controls="collapseTwo"
                    >
                      Select Date
                      <span class="float-end"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                    </a>
                  </h6>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample2"
                >
                  <div class="card-body-chat">
                    <div class="form-group">
                      <label class="form-control-label">From</label>
                      <div class="cal-icon">
                        <input
                          type="email"
                          class="form-control datetimepicker"
                          placeholder="DD-MM-YYYY"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label">To</label>
                      <div class="cal-icon">
                        <input
                          type="email"
                          class="form-control datetimepicker"
                          placeholder="DD-MM-YYYY"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion" id="accordionMain3">
                <div class="card-header-new" id="headingThree">
                  <h6 class="filter-title">
                    <a
                      href="javascript:void(0);"
                      class="w-100 collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseThree"
                      aria-expanded="true"
                      aria-controls="collapseThree"
                    >
                      By Status
                      <span class="float-end"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                    </a>
                  </h6>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample3"
                >
                  <div class="card-body-chat">
                    <div id="checkBoxes2">
                      <div class="form-custom">
                        <input
                          type="text"
                          class="form-control"
                          id="member_search2"
                          placeholder="Search here"
                        />
                        <span
                          ><img src="/img/icons/search.svg" alt="img"
                        /></span>
                      </div>
                      <div class="selectBox-cont">
                        <label class="custom_check w-100">
                          <input type="checkbox" name="bystatus" />
                          <span class="checkmark"></span> Completed
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="bystatus" />
                          <span class="checkmark"></span> cancel
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion accordion-last" id="accordionMain4">
                <div class="card-header-new" id="headingFour">
                  <h6 class="filter-title">
                    <a
                      href="javascript:void(0);"
                      class="w-100 collapsed"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFour"
                      aria-expanded="true"
                      aria-controls="collapseFour"
                    >
                      Category
                      <span class="float-end"
                        ><i class="fa-solid fa-chevron-down"></i
                      ></span>
                    </a>
                  </h6>
                </div>
                <div
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="headingFour"
                  data-bs-parent="#accordionExample4"
                >
                  <div class="card-body-chat">
                    <div id="checkBoxes3">
                      <div class="selectBox-cont">
                        <label class="custom_check w-100">
                          <input type="checkbox" name="category" />
                          <span class="checkmark"></span> Advertising
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="category" />
                          <span class="checkmark"></span> Food
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="category" />
                          <span class="checkmark"></span> Repairs
                        </label>
                        <label class="custom_check w-100">
                          <input type="checkbox" name="category" />
                          <span class="checkmark"></span> Software
                        </label>

                        <div class="view-content">
                          <div class="viewall-Two">
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Stationary
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Medical
                            </label>
                            <label class="custom_check w-100">
                              <input type="checkbox" name="username" />
                              <span class="checkmark"></span> Designing
                            </label>
                          </div>
                          <div class="view-all">
                            <a
                              href="javascript:void(0);"
                              class="viewall-button-Two"
                              ><span class="me-2">View All</span
                              ><span
                                ><i class="fa fa-circle-chevron-down"></i></span
                            ></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="filter-buttons">
                <button
                  type="submit"
                  class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary"
                >
                  Apply
                </button>
                <button
                  type="submit"
                  class="d-inline-flex align-items-center justify-content-center btn w-100 btn-secondary"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery-3.7.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="/plugins/datatables/datatables.min.js"></script>

    <script src="/plugins/select2/js/select2.min.js"></script>

    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>

    <script src="/js/script.js"></script>
  </body>
</html>
