<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BullMarkets Limited</title>
  <link
    rel="icon"
    type="image/png"
    href="/assets/images/bm.png"
    sizes="16x16"
  />
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/all.min.css" />
  <link rel="stylesheet" href="assets/css/line-awesome.min.css" />
  <link rel="stylesheet" href="assets/css/vendor/animate.min.css" />
  <link rel="stylesheet" href="assets/css/vendor/slick.css" />
  <link rel="stylesheet" href="assets/css/vendor/dots.css" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
