<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->
  <style>
    .modal-header {
      text-align: center;
    }

    .modal-title {
      margin: 0 auto;
    }
  </style>
  <body>
    <!-- bottom navbar -->

    <%- include('./partials/navbar') -%>

    <div class="dashboard-wrapper">
      <!-- sidebar -->

      <% if (userProfile) { %>  
        <%- include('./partials/sideBar', { userProfile: userProfile }) -%>
      <% } %>

      <!-- content -->
      <div id="content">
        <div class="overlay">
          <!-- navbar -->

          <%- include('./partials/navbar-expanded') -%>

          <!------------- others main dashboard body content ------------>

          <!-- main -->
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="header-text-full">
                  <h3 class="ms-2 mb-0 mt-2">Buy Plan</h3>
                </div>
              </div>
            </div>

            <!-- Button trigger modal -->

            <!-- <button type="button" class="btn btn-primary">
              Launch demo modal
            </button> -->

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModalCenter"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">
                      Transaction Details
                    </h4>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div id="walletWrapper">
                        <div class="d-flex align-items-start">
                          <div
                            class="nav flex-column nav-pills me-3"
                            id="v-pills-tab"
                            role="tablist"
                            aria-orientation="vertical"
                          >
                            <% wallet.forEach( (wallet, ind) => {%>

                            <button
                              class="nav-link <%= ind == 0 && 'active' %>"
                              data-bs-toggle="pill"
                              data-bs-target="#tab<%= ind %>"
                              type="button"
                              role="tab"
                              aria-controls="<%= wallet.id %>"
                              aria-selected="true"
                            >
                              <%= wallet.wallet_type %>
                            </button>

                            <% }) %>

                          </div>

                          <div class="tab-content" id="v-pills-tabContent">
                            <% wallet.forEach( (wallet, ind) => {%>

                            <div
                              class="tab-pane fade show <%= ind == 0 && 'active' %>"
                              id="tab<%= ind %>"
                              role="tabpanel"
                              aria-labelledby="v-pills-home-tab"
                            >
                              <h5><%= wallet.wallet_type %></h5>
                              <div class="input-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  value="<%= wallet.wallet_address %>"
                                  id="sponsorURL"
                                  disabled=""
                                />

                                <button
                                  id="copyBtn"
                                  onclick="copyText('sponsorURL')"
                                  class="btn text-white"
                                >
                                  Copy Address
                                </button>
                              </div>
                              <img
                                style="width: 200px; margin-top: 20px"
                                src="<%= wallet.qr_code %>"
                              />
                            </div>

                            <% }) %>
        
                          </div>
                        </div>
                      </div>

                      <div class="form-wrapper" style="display: none;">
                          <h5 class="text-center">Enter Payment Details</h5>
                          <div class="rows">
                            <form class="col-sm-10 mx-auto" action="/transaction" method="post" enctype="multipart/form-data">
                                <div class="form-group mt-3">
                                  <input type="text" class="form-control" style="padding-top: 10px; padding-bottom: 10px;" placeholder="Enter Transaction Id" name="transactionId">
                                </div>

                                <div class="form-group mt-3">
                                  <input type="text" class="form-control" style="padding-top: 10px; padding-bottom: 10px;" placeholder="Enter Amount Paid" name="amountPaid">
                                </div>

                                <!-- <div class="form-group mt-3">
                                  <input type="text" class="form-control" style="padding-top: 10px; padding-bottom: 10px;" placeholder="Select Wallet Type" name="">
                                </div> -->

                                <div class="form-group mt-3">
                                  <select class="form-control" style="padding-top: 10px; padding-bottom: 10px;" name="walletType">
                                    <option value="">Select Wallet Type</option>
                                    <% wallet.forEach( (wallet) => {%>
                                      <option value="<%= wallet.wallet_type %>"><%= wallet.wallet_type %></option>
                                    <% }); %>
                                  </select>
                                </div>
                                                                
                                <!-- <div class="form-group mt-3">
                                  <input type="text" class="form-control" style="padding-top: 10px; padding-bottom: 10px;" placeholder="Select Purchased Plan" name="">
                                </div> -->

                                <div class="form-group mt-3">
                                  <select class="form-control" style="padding-top: 10px; padding-bottom: 10px;" name="purchasedPlan">
                                    <option value="">Select Purchased Plan</option>
                                    <% data.forEach(function(plans) { %>
                                      <option value="<%= plans.title %>"><%= plans.title %></option>
                                    <% }); %>
                                  </select>
                                </div>
                                
                                 <div class="form-group mt-3">
                                  <label>Upload Payment Proof</label>
                                  <input type="file" class="form-control" style="padding-top: 10px; padding-bottom: 10px;" placeholder="Enter Wallet Address"  accept="image/*"  name="paymentProof">
                                </div>

                                <div class="form-group mt-3 d-flex justify-content-center">
                                    <button class="btn btn-primary">Submit</button>
                                </div>

                                
                            </form>
                          </div>
                      </div>

                  </div>
                  <div class="modal-footer">
                    
                  <button class="btn-custom w-100 checkCalc" type="button" id="Next">
                    <i class="fa fa-angle-right"></i>Continue to Upload Payment Proof
                  </button>

               <button class="btn-custom w-100 checkCalc" style="display:none;" type="button" id="Back">
                <i class="fa fa-angle-left"></i>Back
              </button>
            
                  </div>
                </div>
              </div>
            </div>

            <section class="payment-gateway mt-4">
              <div class="container-fluid">
                <div class="row">
                  <% data.forEach(function(plans) { %>
                  <div class="col-xl-4 col-lg-4 col-sm-6 mb-4">
                    <!-- Shopping Cart Item -->
                    <div class="card-box">
                      <div
                        class="header-text-full d-flex flex-column align-items-center justify-content-center text-center"
                      >
                        <h5 class="mb-4" style="font-size: 24px">
                          <%= plans.title %>
                        </h5>
                        <ul
                          class="list-unstyled mb-4"
                          style="font-size: 18px; gap: 8px"
                        >
                          <li><%= plans.interestRate %>%</li>
                          <li style="margin-top: 8px">
                            <strong>Daily</strong>
                          </li>
                          <li style="margin-top: 8px">
                            <strong>Duration:</strong> <%= plans.duration %>
                            Days
                          </li>
                          <li style="margin-top: 8px">
                            <strong>Total:</strong> <%= plans.interest %>% +
                            <span class="text-capitalize">Capital</span>
                          </li>
                        </ul>
                        <div style="margin-top: 8px" class="text">
                          £<%= plans.minimum_amount %> - £<%=
                          plans.maximum_amount %>
                        </div>
                        <a
                          href="#0"
                          data-toggle="modal"
                          data-target="#exampleModalCenter"
                          class="btn btn-primary mt-3"
                          >Invest Now</a
                        >
                      </div>
                    </div>
                  </div>
                  <% }); %>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade addFundModal"
      id="addFundModal"
      tabindex="-1"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
      role="dialog"
    >
      <div class="modal-dialog modal-md">
        <div class="modal-content form-block">
          <div class="modal-header">
            <h4 class="modal-title method-name golden-text"></h4>
            <button
              type="button"
              class="close-btn"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="fa fa-times"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="payment-form">
              <p class="golden-text depositLimit lebelFont"></p>
              <p class="golden-text depositCharge lebelFont"></p>
              <input type="hidden" class="gateway" name="gateway" value="" />

              <form action="">
                <div class="row g-3 align-items-end">
                  <div class="input-box col-12">
                    <h5 class="text-white">Amount</h5>
                    <div class="input-group">
                      <input
                        type="text"
                        class="amount form-control"
                        name="amount"
                      />
                      <button class="btn-custom show-currency"></button>
                    </div>
                    <pre class="text-danger errors"></pre>
                  </div>
                </div>
              </form>
            </div>

            <!-- <div class="payment-info text-center">
              <img
                id="loading"
                src="https://script.bugfinder.net/hyippro/screaminlizard/assets/admin/images/loading.gif"
                alt="loader"
                class="w-15"
              />
            </div> -->

            <div class="input-box col-12 modal-footer">
              <button class="btn-custom w-100 checkCalc" type="button">
                <i class="fa fa-angle-right"></i>Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script>
      document.body.addEventListener("click", (e) => {
        var target = e.target;

        var targetId = target.dataset.bsTarget;

        if (target.classList.contains("nav-link")) {
          toggleActiveState(document.querySelector(targetId), "tab-pane");
        }
      });

      function toggleActiveState(target, className) {
        var navList = target.closest(`.${className}`);

        var activeNavList = document.querySelector(`.${className}.active`);

        navList != activeNavList && activeNavList?.classList?.remove("active");

        navList.classList.add("active");
      }

      Next.addEventListener("click", () => {
        walletWrapper.style.display = Next.style.display =  "none";
        document.querySelector(".form-wrapper").style.display = Back.style.display = "block";

      })


      Back.addEventListener("click", () => {
        walletWrapper.style.display = Next.style.display =  "block";
        document.querySelector(".form-wrapper").style.display = Back.style.display = "none";
      })

    </script>
    <script src="../assets/themes/screaminlizard/js/owl.carousel.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/select2.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/apexcharts.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/radialprogressOld.js"></script>
    <script src="../assets/global/js/notiflix-aio-2.7.0.min.js"></script>
    <script src="../assets/global/js/pusher.min.js"></script>
    <script src="../assets/global/js/vue.min.js"></script>
    <script src="../assets/global/js/axios.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/data.js"></script>
    <script src="../assets/themes/screaminlizard/js/script.js"></script>
  </body>
</html>
