<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- head tag starts here  -->

  <%- include('./partials/head') -%>

  <!-- head tag ends here -->

  <body>
    <!-- bottom navbar -->

    <%- include('./partials/navbar') -%>

    <div class="dashboard-wrapper">
      <!-- sidebar -->
      <% if (userProfile) { %>
        
        <%- include('./partials/sideBar', { userProfile: userProfile }) -%>
      <% } %>

      <!-- content -->
      <div id="content">
        <div class="overlay">
          <!-- navbar -->

          <%- include('./partials/navbar-expanded') -%>

          <!------------- others main dashboard body content ------------>

          <!-- main -->
          <div class="container-fluid">
            <div class="main row">
              <div class="col-12">
                <div class="dashboard-heading">
                  <h4 class="mb-0">Edit Profile</h4>
                </div>

                <section class="profile-setting">
                  <div class="row g-4 g-lg-5">
                    <div class="col-lg-4">
                      <div class="sidebar-wrapper">
                        <form
                          method="post"
                          action=""
                          enctype="multipart/form-data"
                        >
                          <input type="hidden" />
                          <div class="profile">
                            <div class="img">
                              <img
                                id="profile"
                                style="height: 100px; object-fit: cover"
                                src="default.png"
                                alt="preview user image"
                                class="img-fluid"
                              />
                              <button class="upload-img">
                                <i class="fa fa-camera"></i>
                                <input
                                  class="form-control"
                                  accept="image/*"
                                  type="file"
                                  name="image"
                                  id="image"
                                  onchange="previewImage('profile')"
                                />
                              </button>
                            </div>

                            <div class="text">
                              <h5 class="name">Demouser</h5>
                              <span>demouser@gmail.com</span>
                              <div>
                                <button
                                  class="btn-custom mt-2 p-2 text-white"
                                  type="submit"
                                >
                                  Submit Changes
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>

                        <div class="profile-navigator">
                          <button tab-id="tab1" class="tab active">
                            <i class="fa fa-user"></i> Profile information
                          </button>
                          <button tab-id="tab2" class="tab">
                            <i class="fa fa-key"></i> Password setting
                          </button>
                          <button tab-id="tab3" class="tab">
                            <i class="fa fa-id-card"></i> identity verification
                          </button>
                          <button tab-id="tab4" class="tab">
                            <i class="fa fa-map-marked-alt"></i>
                            address verification
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-8">
                      <div id="tab1" class="content active">
                        <form action="/profile" method="post" enctype="multipart/form-data"> 
                   
                          <div class="row g-4">
                            <div class="input-box col-md-6">
                              <label for="firstname">First Name</label>
                              <input
                                type="text"
                                class="form-control"
                                name="firstname"
                                id="firstname"
                              />
                            </div>
                    
                            <div class="input-box col-md-6">
                              <label for="lastname">Last Name</label>
                              <input
                                type="text"
                                id="lastname"
                                name="lastname"
                                class="form-control"
                              />
                            </div>
                    
                            <div class="input-box col-md-6">
                              <label for="username">Username</label>
                              <input
                                type="text"
                                id="username"
                                name="username"
                                class="form-control"
                              />
                            </div>
                            <div class="input-box col-md-6">
                              <label for="email">Email Address</label>
                              <input
                                type="email"
                                id="email"
                                name="email"
                                class="form-control"
                              />
                            </div>
                            <div class="input-box col-md-6">
                              <label for="phone">Phone Number</label>
                              <input
                                type="text"
                                name="phone"
                                id="phone"
                                class="form-control"
                              />
                            </div>
                            <div class="input-box col-md-6">
                              <label for="profile-picture">Profile Picture</label>
                              <input
                                type="file"
                                accept="image/*"
                                name="profilePicture"
                                id="profile-picture"
                                class="form-control"
                              />
                            </div>
                            <div class="input-box col-md-6">
                              <label for="country">Country</label>
                              <input
                                type="text"
                                name="country"
                                id="country"
                                class="form-control"
                              />
                            </div>
                            
                            <div class="input-box col-md-6">
                              <label for="sex">Sex</label>
                              <select name="sex" class="form-control">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                              </select>
                            </div>
                            
                            <script>
                              // Get the select element by its name
                              var selectElement = document.querySelector('select[name="sex"]');
                            
                              // Add an event listener to capture the selected value
                              selectElement.addEventListener("change", function () {
                                var selectedValue = selectElement.value; // Get the selected value
                            
                                // You can pass the selected value to a function or do something with it here
                                console.log("Selected value: " + selectedValue);
                            
                                // If you want to pass the value to another function, you can call it here, for example:
                                // someFunction(selectedValue);
                              });
                            </script>
                            
                    
                            <!-- Rest of your form fields -->
                    
                            <div class="input-box col-12">
                              <label for="address">Address</label>
                              <textarea
                                class="form-control"
                                id="address"
                                name="address"
                                cols="30"
                                rows="3"
                              ></textarea>
                            </div>
                            <div class="input-box col-12">
                              <button type="submit" class="btn-custom">Update</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    

                      <div id="tab2" class="content">
                        <form method="post" action="">
                          <input type="hidden" />
                          <div class="row g-4">
                            <div class="input-box col-md-6">
                              <label for="">Current Password</label>
                              <input
                                type="password"
                                id="current_password"
                                name="current_password"
                                autocomplete="off"
                                class="form-control"
                                placeholder="Enter Current Password"
                              />
                            </div>

                            <div class="input-box col-md-6">
                              <label for="">New Password</label>
                              <input
                                type="password"
                                id="password"
                                name="password"
                                autocomplete="off"
                                class="form-control"
                                placeholder="Enter New Password"
                              />
                            </div>
                            <div class="input-box col-md-6">
                              <label for="">Confirm Password</label>
                              <input
                                type="password"
                                id="password_confirmation"
                                name="password_confirmation"
                                autocomplete="off"
                                class="form-control"
                                placeholder="Confirm Password"
                              />
                            </div>
                            <div class="input-box col-12">
                              <button class="btn-custom" type="submit">
                                Update Password
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>

                      <div id="tab3" class="content">
                        <div class="alert mb-0">
                          <i class="fa fa-times-circle text-success"></i>
                          <span class="text-success"
                            >Your KYC already verified</span
                          >
                        </div>
                      </div>

                      <div id="tab4" class="content">
                        <div class="alert mb-0">
                          <i class="fa fa-check-circle text-success"></i>
                          <span>Your KYC already verified</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../assets/themes/screaminlizard/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/owl.carousel.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/select2.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/apexcharts.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/radialprogressOld.js"></script>
    <script src="../assets/global/js/notiflix-aio-2.7.0.min.js"></script>
    <script src="../assets/global/js/pusher.min.js"></script>
    <script src="../assets/global/js/vue.min.js"></script>
    <script src="../assets/global/js/axios.min.js"></script>
    <script src="../assets/themes/screaminlizard/js/data.js"></script>
    <script src="../assets/themes/screaminlizard/js/script.js"></script>
  </body>
</html>
