<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="d-lg-none" href="">
      <img src="../assets/uploads/logo/logo.png" alt="" width="160" style="margin-left: -13px!important;" />
    </a>

    <button class="sidebar-toggler d-none d-lg-block" onclick="toggleSideMenu()">
      <i class="fa fa-bars"></i>
    </button>

    <span class="navbar-text" id="pushNotificationArea">
      <!---- notification panel ---->

      <!-- user panel -->
      <div class="notification-panel user-panel d-none d-lg-inline-block">
        <span class="profile">
          <i class="fa fa-cogs" style="font-size: larger;"></i>
        </span>
        <ul class="user-dropdown">
          <li>
            <a href="/dashboard">
              <i class="fa fa-border-all" aria-hidden="true"></i> Dashboard
            </a>
          </li>
          <li>
            <a href="/user/profile"> <i class="fa fa-user"></i> My Profile </a>
          </li>
          <li>
            <a href="/user/twostep-security">
              <i class="fa fa-key"></i> 2FA Security
            </a>
          </li>
          <li>
            <!-- <a href="/login"> <i class="fa fa-sign-out-alt"></i> Log Out </a> -->
            <!-- <form
              id="logout-form"
              action="/logout"
              method="POST"
              class="d-none"
            > -->
            <!-- <input type="hidden" /> -->
            <!-- <button type="submit"> <i class="fa fa-sign-out-alt"></i> Log Out</button> -->
            <form id="logout-form" action="/logout" method="POST">
              <button type="submit" style="color: #bdbadb; margin-left: -38px; font-size: 15px;"><i class="fa fa-sign-out-alt" style="color: #9ff550; font-size: larger;"></i>
                Log Out</button>
            </form>

            </form>
          </li>
        </ul>
      </div>
    </span>
  </div>
</nav>