<div id="sidebar" class="">
  <div class="sidebar-top">
    <a class="navbar-brand d-none d-lg-block" href="/user/dashboard">
      <img src="../assets/uploads/logo/logo.png" alt="brand logo"
    /></a>
    <div class="mobile-user-area d-lg-none">
      <% if (userProfile) { %>
      <div class="thumb">
        <img
          class="img-fluid user-img"
          src="<%= userProfile.profilePicture %>"
          alt="User Profile Picture"
        />
      </div>
      <% } %>
      <div class="content">
        <h5 class="mt-1 mb-1"><%= userProfile.username %></h5>
        <span><%= userProfile.email %></span>
      </div>
    </div>
    <button class="sidebar-toggler d-lg-none" onclick="toggleSideMenu()">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div class="level-box">
    <% if (userProfile) { %>
    <div>
      <img
        style="border-radius: 100%; min-height: 80px; min-width: 120px"
        class="img-fluid user-img"
        src="<%= userProfile.profilePicture %>"
        alt="User Profile Picture"
      />
    </div>
    <% } %>
  </div>

  <div class="wallet-wrapper m-4">
    <div class="wallet-box">
      <h4 class="mb-3">Account Balance</h4>
      <h5>Main Balance <span>£<%= userProfile.Balance %></span></h5>
      <h5 class="mb-0">Interest Balance <span>£</span></h5>
      <span class="tag">£</span>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <a
        class="btn btn-primary"
        href="#"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        ><i class="fa fa-wallet" aria-hidden="true"></i> Deposit</a
      >
      <a
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#modalWithdraw"
        href="#"
        ><i class="fa fa-usd-circle" aria-hidden="true"></i>Withdraw</a
      >
    </div>
  </div>

  <ul class="main">
    <li>
      <a class="active" href="/user/dashboard">
        <i class="fa fa-border-all"></i> Dashboard</a
      >
    </li>
    <!-- <li>
      <a href="/user/plan" class="sidebar-link">
        <i class="fa fa-layer-group"></i> Plan</a
      >
    </li> -->

    <li>
      <a href="/user/add-fund" class="sidebar-link">
        <i class="far fa-funnel-dollar"></i> Buy Plan</a
      >
    </li>

    <li>
      <a href="/user/invest-history" class="sidebar-link">
        <i class="fa fa-file-medical-alt"></i> Deposit History</a
      >
    </li>
    <li>
      <a href="/user/fund-history" class="sidebar-link">
        <i class="far fa-search-dollar"></i> Withdrawal History</a
      >
    </li>
    <!-- <li>
      <a href="/user/money-transfer" class="sidebar-link">
        <i class="far fa-money-check-alt"></i> transfer</a
      >
    </li>
    <li>
      <a href="/user/transaction" class="sidebar-link">
        <i class="far fa-sack-dollar"></i> transaction</a
      >
    </li>
    <li>
      <a href="/user/payout" class="sidebar-link">
        <i class="fa fa-hand-holding-usd"></i>payout</a
      >
    </li>
    <li>
      <a href="/user/payout-history" class="sidebar-link">
        <i class="far fa-badge-dollar"></i> payout history</a
      >
    </li> -->
    <li>
      <a href="/user/referral" class="sidebar-link">
        <i class="fa fa-retweet-alt"></i> my referral</a
      >
    </li>
    <!-- <li>
      <a href="/user/referral-bonus" class="sidebar-link">
        <i class="fa fa-box-usd"></i> referral bonus
      </a>
    </li> -->
    <!-- <li>
      <a href="/user/badges" class="sidebar-link">
        <i class="fa fa-badge"></i> Badges</a
      >
    </li>
    <li>
      <a href="/user/ticket" class="sidebar-link">
        <i class="fa fa-user-headset"></i> support ticket</a
      >
    </li> -->
    <li>
      <a href="/user/profile" class="sidebar-link">
        <i class="fa fa-user"></i> profile settings</a
      >
    </li>

    <li class="d-lg-none">
      <a href="/user/twostep-security">
        <i class="fa fa-lock"></i> 2FA Security</a
      >
    </li>
  </ul>
</div>

<div
  class="modal fade"
  id="modalWithdraw"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Withdraw Details</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="rows">
            <form class="col-sm-10 mx-auto" action="/withdrawals" method="post">
              <div class="form-group mt-3">
                <input
                  type="text"
                  class="form-control"
                  style="padding-top: 10px; padding-bottom: 10px"
                  placeholder="Enter Withdrawal Amount"
                  name="amount"
                />
              </div>

              <div class="form-group mt-3">
                <input
                  type="text"
                  class="form-control"
                  style="padding-top: 10px; padding-bottom: 10px"
                  placeholder="Enter Wallet Type"
                  name="walletType"
                />
              </div>

              <div class="form-group mt-3">
                <input
                  type="text"
                  class="form-control"
                  style="padding-top: 10px; padding-bottom: 10px"
                  placeholder="Enter Wallet Address"
                  name="walletAddress"
                />
              </div>

              <div class="form-group mt-4 d-flex justify-content-center">
                <button type="submit" class="btn-custom w-100">Withdraw</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
