<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here -->
  <%- include('../pages/partials/head') %>
  <!-- head tag ends here  -->

  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>

    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

    <div class="full-wh">
      <!-- STAR ANIMATION -->
      <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
      </div>
      <!-- / STAR ANIMATION -->
    </div>
    <div class="page-wrapper">
      <!-- header-section start  -->
      <%- include('../pages/partials/header') %>
      <!-- header-section end  -->

      <!-- inner hero start -->
      <section
        class="inner-hero bg_img"
        data-background="assets/images/bg/bg-1.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="page-title">About Us</h2>
              <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                <li>About</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- inner hero end -->

      <!-- how work section start -->
      <section
        class="pt-120 pb-120 bg_img"
        data-background="assets/images/bg/bg-5.jpg"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="section-header">
                <h2 class="section-title">
                  <span class="font-weight-normal">How</span>
                  <b class="base--color">BullMarkets</b>
                  <span class="font-weight-normal">Works</span>
                </h2>
                <p>
                  Get involved in our tremendous platform and Invest. We will
                  utilize your money and give you profit in your wallet
                  automatically.
                </p>
              </div>
            </div>
          </div>
          <!-- row end -->
          <div class="row justify-content-center mb-none-30">
            <div class="col-lg-4 col-md-6 work-item mb-30">
              <div class="work-card text-center">
                <div class="work-card__icon">
                  <i class="las la-user base--color"></i>
                  <span class="step-number">01</span>
                </div>
                <div class="work-card__content">
                  <h4 class="base--color mb-3">Create Account</h4>
                </div>
              </div>
              <!-- work-card end -->
            </div>
            <div class="col-lg-4 col-md-6 work-item mb-30">
              <div class="work-card text-center">
                <div class="work-card__icon">
                  <i class="las la-hand-holding-usd base--color"></i>
                  <span class="step-number">02</span>
                </div>
                <div class="work-card__content">
                  <h4 class="base--color mb-3">Invest To Plan</h4>
                </div>
              </div>
              <!-- work-card end -->
            </div>
            <div class="col-lg-4 col-md-6 work-item mb-30">
              <div class="work-card text-center">
                <div class="work-card__icon">
                  <i class="las la-wallet base--color"></i>
                  <span class="step-number">03</span>
                </div>
                <div class="work-card__content">
                  <h4 class="base--color mb-3">Get Profit</h4>
                </div>
              </div>
              <!-- work-card end -->
            </div>
          </div>
        </div>
      </section>
      <!-- how work section end  -->

      <!-- about section start -->
      <section
        class="about-section pt-120 pb-120 bg_img"
        data-background="assets/images/bg/bg-2.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-6">
              <div class="about-content">
                <h2 class="section-title mb-3">
                  <span class="font-weight-normal">About</span>
                  <b class="base--color">Us</b>
                </h2>
                <p>
                  Bull Markets Limited is an investment company that is leading
                  the charge by harnessing the power of artificial intelligence
                  (AI) in trading to protect its clients from potential losses
                  and drive profits.
                </p>
                <p class="mt-4">
                  At the heart of Bull Markets Limited exceptional performance
                  lies its innovative AI-driven trading strategy. Recognizing
                  the limitations of traditional human-based trading, which can
                  be susceptible to emotional biases and slow reactions, Bull
                  Markets Limited has adopted a forward-thinking approach. Their
                  cutting-edge AI algorithms analyze vast datasets, market
                  trends, news feeds, and sentiment analysis in real-time,
                  allowing them to make data-driven decisions with unparalleled
                  speed and accuracy.
                </p>
                <p class="mt-4" style="display: none" id="infoParagraph">
                  Bull Markets Limited AI system employs sophisticated machine
                  learning techniques that continuously learn and adapt to
                  changing market conditions. This adaptability ensures that
                  trading strategies evolve with the market, optimizing the
                  chances of profitable outcomes. By leveraging AI's ability to
                  process and interpret large volumes of data at lightning
                  speed, Bull Markets Limited maintains a competitive edge in
                  the fast-paced world of financial markets. Bull Markets
                  Limited also places a strong emphasis on transparency and
                  accountability. This transparency fosters trust and
                  confidence, as clients can see firsthand the diligence and
                  precision with which Bull Markets Limited manages their
                  assets. In conclusion, Bull Markets Limited stands as a
                  trailblazer in the investment industry, redefining the way
                  investors approach wealth management through the application
                  of AI-powered trading. With its state-of-the-art technology,
                  personalized strategies, and unwavering commitment to
                  transparency, Bull Markets Limited has set a new standard for
                  investment companies. As investors navigate the complexities
                  of the financial markets, they can rest assured that Bull
                  Markets Limited is a reliable partner, dedicated to
                  safeguarding their investments and driving them toward a
                  prosperous financial future.
                </p>
                <a href="#0" class="cmn-btn mt-4" id="moreInfoLink"
                  >MORE INFO</a
                >
                <script>
                  const moreInfoLink = document.getElementById("moreInfoLink");
                  const infoParagraph =
                    document.getElementById("infoParagraph");

                  moreInfoLink.addEventListener("click", function (event) {
                    event.preventDefault();

                    if (infoParagraph.style.display === "none") {
                      infoParagraph.style.display = "block";
                    } else {
                      infoParagraph.style.display = "none";
                    }
                  });
                </script>
              </div>
              <!-- about-content end -->
            </div>
          </div>
        </div>
      </section>
      <!-- about section end -->

      <!-- team section start -->
      <!-- <section
        class="pt-120 pb-120 bg_img"
        data-background="assets/images/bg/bg-5.jpg"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="section-header">
                <h2 class="section-title">
                  <span class="font-weight-normal">Our Expert</span>
                  <b class="base--color">Team Members</b>
                </h2>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse
                  voluptatum eaque earum quos quia? Id aspernatur ratione,
                  voluptas nulla rerum laudantium neque ipsam eaque
                </p>
              </div>
            </div>
          </div>
          <!-- row end -->
          <!-- <div class="row justify-content-center mb-none-30">
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/1.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Fahad Bin Faiz</h4>
                  <span class="designation">CEO</span>
                </div>
              </div>
              <!-- team-card end -->
            <!-- </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/2.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Danial K.</h4>
                  <span class="designation">CTO</span>
                </div>
              </div> -->
              <!-- team-card end -->
            <!-- </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/3.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Lew Son</h4>
                  <span class="designation">Marketing Head</span>
                </div>
              </div> -->
              <!-- team-card end -->
            <!-- </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/4.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Tend z Joe</h4>
                  <span class="designation">Designer</span>
                </div>
              </div> -->
              <!-- team-card end -->
            <!-- </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/5.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Sam Joe</h4>
                  <span class="designation">Developer</span>
                </div>
              </div> -->
              <!-- team-card end -->
            <!-- </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/6.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Alex Joe</h4>
                  <span class="designation">UX Expert</span>
                </div>
              </div> -->
              <!-- team-card end -->
            <!-- </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/7.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Juna Sun</h4>
                  <span class="designation">SEO Expert</span>
                </div>
              </div> -->
              <!-- team-card end -->
            <!-- </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/8.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Profed Laun</h4>
                  <span class="designation">Manager</span>
                </div>
              </div> -->
              <!-- team-card end -->
            <!-- </div>
          </div> -->
        <!-- </div> --> -->
      <!-- </section> --> -->
      <!-- team section end -->

      <!-- faq section start -->
      <section class="pt-120 pb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="section-header">
                <h2 class="section-title">
                  <span class="font-weight-normal">Frequently Asked</span>
                  <b class="base--color">Questions</b>
                </h2>
                <p>
                  We answer some of your Frequently Asked Questions regarding
                  our platform. If you have a query that is not answered here,
                  Please contact us.
                </p>
              </div>
            </div>
          </div>
          <!-- row end -->
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="accordion cmn-accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <i class="las la-question-circle"></i>
                        <span
                          >How can I become a client of "BullMarkets Limited"?
                          </span
                        >
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Becoming a client of "BullMarkets Limited" is simple. Get free registration. It takes just a couple of minutes. After the registration process you will become our user and you will be able to perform actions in the system within the established rules. By agreeing to the Terms of Use for the registration process, you confirm that you are an adult citizen in your state and do not violate its laws using our resource.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <i class="las la-question-circle"></i>
                        <span>What payment systems are available in your company's system? </span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      We work with the following payment systems: Tether ERC20, Tether TRC20, BitCoin, and Ethereum. 
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        <i class="las la-question-circle"></i>
                        <span>Do you charge a transaction fee?</span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      No, both deposit and withdrawal of funds are carried out without any fees, except for those provided by payment systems. Payment Processors charge some fees for sending or receiving funds we have no control on it . 
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        <i class="las la-question-circle"></i>
                        <span
                          >Do you have a minimum size of investment?</span
                        >
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingFour"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Yes, the minimum is €1000.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                      >
                        <i class="las la-question-circle"></i>
                        <span>How much time does it take for a withdrawal request to be processed? </span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse"
                    aria-labelledby="headingFive"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      The application is processed automatically and processed instantly. Minimum withdrawal amount for cryptocurrencies is €500 
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseSix"
                        aria-expanded="false"
                        aria-controls="collapseSix"
                      >
                        <i class="las la-question-circle"></i>
                        <span>How can I earn affiliate commission? </span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseSix"
                    class="collapse"
                    aria-labelledby="headingSix"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      You can earn affiliate commission by sharing your affiliate link and promoting BullMarkets Limited to your friends, colleagues, and followers. Once they've added funds to their accounts, a commission payout, ranging from 7%, will be added to your account balance automatically. 
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseSeven"
                        aria-expanded="false"
                        aria-controls="collapseSeven"
                      >
                        <i class="las la-question-circle"></i>
                        <span>Is it possible to make profit from the affiliate program without placing a deposit?  </span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseSeven"
                    class="collapse"
                    aria-labelledby="headingSeven"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Yes, you can gain a passive income with no direct investments.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseEight"
                        aria-expanded="false"
                        aria-controls="collapseEight"
                      >
                        <i class="las la-question-circle"></i>
                        <span>Where can I get my referral link and your banners?  </span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseEight"
                    class="collapse"
                    aria-labelledby="headingEight"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      You can find referral link in your main account menu and our banners on the "Referral links" page. Also you can click on Our Banners. 
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- faq section end -->

      <!-- cta section start -->
      <section class="pb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8">
              <div
                class="cta-wrapper bg_img border-radius--10 text-center"
                data-background="assets/images/bg/bg-8.jpg"
              >
                <h2 class="title mb-3">Get Started Today With Us</h2>
                <p>
                  This is a Revolutionary Money Making Platform! Invest for
                  Future in Stable Platform and Make Fast Money. Not only we
                  guarantee the fastest and the most exciting returns on your
                  investments, but we also guarantee the security of your
                  investment.
                </p>
                <a href="/registration" class="cmn-btn mt-4">Join Us</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- cta section end -->

      <!-- footer section start -->
      <%- include('../pages/partials/footer') %>
    </div>

    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
