<!DOCTYPE html>
<html lang="en">

 <!-- head tag starts here -->
 <%- include('../pages/partials/head') %>
 <!-- head tag ends here  -->
  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>
  
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
  <div class="page-wrapper">
      <!-- header-section start  -->
      <%- include('../pages/partials/header') %>
  <!-- header-section end  -->
    
    <!-- inner hero start -->
    <section class="inner-hero bg_img" data-background="assets/images/bg/bg-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="page-title">Blog Details</h2>
            <ul class="page-breadcrumb">
              <li><a href="/">Home</a></li>
              <li>Blog Details</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- inner hero end -->


    <!-- blog-details-section start -->
    <section class="pt-150 pb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="blog-details-wrapper">
              <div class="blog-details__thumb">
                <img src="assets/images/blog/1.jpg" alt="image">
                <div class="post__date">
                  <span class="date">20</span>
                  <span class="month">feb</span>
                </div>
              </div><!-- blog-details__thumb end -->
              <div class="blog-details__content">
                <h4 class="blog-details__title">Condimentum nulla emauris sit semper nulla</h4>
                <p>Consectetuer in non nibh lorem posuere, sapien dictum dolor libero aliquam suspendisse, diam a eu tristique amet donec, sed vestibulum elit ut sollicitudin. Lacus vivamus elit quam lorem, arcu justo pede eget vivamus, fringilla vestibulum sit nec magna duis, vel sed condimentum vestibulum molestie, tortor ut orci ornare mi purus. Rhoncus vestibulum quam auctor id per, a luctus, in sed wisi. Arcu et, pulvinar non semper ac neque facilisis nec, pellentesque porttitor dapibus etiam non. Sit tempor nulla vivamus condimentum lorem tempus, velit diam in nullam semper culpa. Erat mattis. Volutpat vel vitae wisi nulla ipsum, non lorem dui mi, ut neque sed maecenas nonummy </p>
                <p>duis, interdum platea enim pretium suspendisse non enim. Ullamcorper duis, fermentum nulla. Suspendisse nec vestibulum odio proin ipsum tincidunt. Adipiscing pede dictum tellus nulla eget integer, felis wisi donec vehicula vel turpis ipsum.</p>
                <blockquote>Aenean metus lectus at id. Morbi aliquet commodo a sodales eget. Eu justo ante nibh et a turpis, aliquam phasellus hymenaeos, imperdiet eget cras sociosqu, tincidunt a amet. Faucibus urna luctus, arcu ni</blockquote>
                <p>Inceptos quam, nam felis tortor tortor sed porta, a facilisis dictumst luctus ipsum phasellus, faucibus aliquam diam ullamcorper, a id ultrices non suscipit nulla. Nam nulla aliquet, imperdiet sit in massa a enim, amet suscipit dui sodales class vestibulum, in ut nec urna sed quis vestibulum. Quisque quis amet turpis, rhoncus integer, sed elit sed amet in mi, amet magna feugiat.tique amet donec, sed vestibulum elit ut sollicitudin. Lacus vivamus elit </p>
                <p>quam lorem, arcu justo pede eget vivamus, fringilla vestibulum sit nec magna duis, vel sed condimentum vestibulum dignissim suspendisse purus. Amet vivamus vivamus netus nec orci molestie, nisl morbi pulvinar vulputate eget, mi a mauris odio vel vulputate, cubilia praesent posuere tellus at velit.urpis nec ligula, pulvinar erat</p>
                <p>Quam arcu ac, at adipiscing justo lectus sit nibh massa. Quam euismod, nam eu tellus, et massa non mauris consequat, consequat lectus ultrices. Mi laoreet nunc consequat erat amet. Sem dignissim. Dignissim ac non, convallis id, vitae aliquam id urna a, placerat urna mauris aliquet lorem molestie nec.</p>
              </div><!-- blog-details__content end -->
              <div class="blog-details__footer">
                <h4 class="caption">Share Tish Post</h4>
                <ul class="social__links">
                  <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                  <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div><!-- blog-details__footer end -->
            </div><!-- blog-details-wrapper end -->
            <div class="comments-area">
              <h3 class="title">2 comments</h3>
              <ul class="comments-list">
                <li class="single-comment">
                  <div class="single-comment__thumb">
                    <img src="assets/images/testimonial/1.jpg" alt="image">
                  </div>
                  <div class="single-comment__content">
                    <h6 class="name">Monica Wagase</h6>
                    <span class="date">1 Hour ago</span>
                    <a href="#0" class="reply-btn"><i class="fa fa-share"></i></a>
                    <p>Ousto ante nibh et a turpis, aliquam phasellus hymenaeos, imperdiet  coms  ciosqutincidunt a amet. Faucibus urna luctus, non suspendisse arcu nibh, sollicitudin suspepurus. Amet vivamus etiam.</p>
                  </div>
                </li><!-- single-review end -->
                <li class="single-comment">
                  <div class="single-comment__thumb">
                    <img src="assets/images/testimonial/2.jpg" alt="image">
                  </div>
                  <div class="single-comment__content">
                    <h6 class="name">David James</h6>
                    <span class="date">1 day ago</span>
                    <a href="#0" class="reply-btn"><i class="fa fa-share"></i></a>
                    <p>Ousto ante nibh et a turpis, aliquam phasellus hymenaeos, imperdiet  coms  ciosqutincidunt a amet. Faucibus urna luctus, non suspendisse arcu nibh, sollicitudin suspepurus. Amet vivamus etiam.</p>
                  </div>
                </li><!-- single-review end -->
              </ul>
            </div><!-- comments-area end -->
            <div class="comment-form-area">
              <h3 class="title">Live a Comment</h3>
              <form class="comment-form">
                <div class="row">
                  <div class="col-lg-6 form-group">
                    <input type="text" name="comment-name" id="comment-name" placeholder="Your Name" class="form-control">
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="email" name="comment-email" id="comment-email" placeholder="Email Address" class="form-control">
                  </div>
                  <div class="col-lg-12 form-group">
                    <input type="url" name="comment-url" id="comment-url" placeholder="Web Site" class="form-control">
                  </div>
                  <div class="col-lg-12 form-group">
                    <textarea name="comment-message" id="comment-message" placeholder="Write Comment" class="form-control"></textarea>
                  </div>
                  <div class="col-lg-12">
                    <button type="submit" class="cmn-btn">Post Comment</button>
                  </div>
                </div>
              </form>
            </div><!-- comment-form-area end -->
          </div>
          <div class="col-lg-4 pl-lg-5">
            <div class="sidebar">
              <div class="widget">
                <form class="search-from">
                  <div class="custom-input-field">
                    <input type="text" name="ship-search_keyword" id="ship-search_keyword" placeholder="Keywords" class="form-control">
                    <i class="fa fa-search"></i>
                  </div>
                </form>
              </div><!-- widget end -->
              <div class="widget">
                <h3 class="widget-title">Categories</h3>
                <ul class="category-list">
                  <li><a href="#0">SEO Expert</a></li>
                  <li><a href="#0">Digital Market</a></li>
                  <li><a href="#0">Marketing Expert</a></li>
                  <li><a href="#0">HTML Template</a></li>
                  <li><a href="#0">WordPress Theme</a></li>
                </ul>
              </div><!-- widget end-->

              <div class="widget">
                <h3 class="widget-title">Archive</h3>
                <ul class="category-list">
                  <li><a href="#0">SEO Expert</a></li>
                  <li><a href="#0">Digital Market</a></li>
                  <li><a href="#0">Marketing Expert</a></li>
                  <li><a href="#0">HTML Template</a></li>
                  <li><a href="#0">WordPress Theme</a></li>
                </ul>
              </div><!-- widget end-->

              <div class="widget">
                <h3 class="widget-title">Popular blog post</h3>
                <ul class="small-post-list">
                  <li class="small-post-single">
                    <div class="thumb"><img src="assets/images/blog/1.jpg" alt="image"></div>
                    <div class="content">
                      <h6 class="post-title"><a href="blog-details.html"> Ullamcorper duis, fermentum nulla. Suspendisse nec vestibulum odio</a></h6>
                      <a href="#0" class="date">December 15, 2019</a>
                    </div>
                  </li><!-- small-post-single end -->
                  <li class="small-post-single">
                    <div class="thumb"><img src="assets/images/blog/2.jpg" alt="image"></div>
                    <div class="content">
                      <h6 class="post-title"><a href="blog-details.html">Erat dui consectetuer portt malesua sed commodo consectetuer.</a></h6>
                      <a href="#0" class="date">December 15, 2019</a>
                    </div>
                  </li><!-- small-post-single end -->
                  <li class="small-post-single">
                    <div class="thumb"><img src="assets/images/blog/3.jpg" alt="image"></div>
                    <div class="content">
                      <h6 class="post-title"><a href="blog-details.html">Olementum nunc eget magco modo consectetuer diam orci </a></h6>
                      <a href="#0" class="date">December 15, 2019</a>
                    </div>
                  </li><!-- small-post-single end -->
                  <li class="small-post-single">
                    <div class="thumb"><img src="assets/images/blog/1.jpg" alt="image"></div>
                    <div class="content">
                      <h6 class="post-title"><a href="blog-details.html">Venenatis elementum vel tristique eu nunc  ultrices elementum</a></h6>
                      <a href="#0" class="date">December 15, 2019</a>
                    </div>
                  </li><!-- small-post-single end -->
                </ul>
              </div><!-- widget end -->
              <div class="widget">
                <h3 class="widget-title">tags</h3>
                <d class="tag-list">
                  <a href="#0">SEO</a>
                  <a href="#0">Marketing</a>
                  <a href="#0">Digital</a>
                  <a href="#0">HTML</a>
                  <a href="#0">WordPress</a>
                  <a href="#0">Theme</a>
                  <a href="#0">Plugin</a>
                </div>
              </div><!-- widget end -->
            </div><!-- sidebar end -->
          </div>
        </div>
      </div>
    </section>
    <!-- blog-details-section end -->


    <!-- footer section start -->
    <%- include('../pages/partials/footer') %>

 </div>


  <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/wow.min.js"></script>
  <script src="assets/js/contact.js"></script>
  <script src="assets/js/app.js"></script>
  </body>
</html> 