<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here -->
  <%- include('../pages/partials/head') %>
  <!-- head tag ends here  -->
  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>

    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

    <div class="full-wh">
      <!-- STAR ANIMATION -->
      <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
      </div>
      <!-- / STAR ANIMATION -->
    </div>
    <div class="page-wrapper">
      <!-- header-section start  -->
      <%- include('../pages/partials/header') %>
      <!-- header-section end  -->
      <!-- inner hero start -->
      <section
        class="inner-hero bg_img"
        data-background="assets/images/bg/bg-1.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="page-title">Blog Post</h2>
              <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Blog</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- inner hero end -->

      <!-- blog section start -->
      <section class="pt-120 pb-120 border-top-1">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="section-header">
                <h2 class="section-title">
                  <span class="font-weight-normal">Our Latest</span>
                  <b class="base--color">News</b>
                </h2>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse
                  voluptatum eaque earum quos quia Id aspernatur ratione,
                  voluptas nulla rerum laudantium neque ipsam eaque
                </p>
              </div>
            </div>
          </div>
          <!-- row end -->
          <div class="row justify-content-center mb-none-30">
            <div class="col-lg-4 col-md-6 mb-30">
              <div class="blog-card">
                <div class="blog-card__thumb">
                  <img src="assets/images/blog/1.jpg" alt="image" />
                </div>
                <div class="blog-card__content">
                  <h4 class="blog-card__title mb-3">
                    <a href="#0"
                      >Laboriosam distinctio nisi debitis deleniti voluptatum
                      corporis.</a
                    >
                  </h4>
                  <ul class="blog-card__meta d-flex flex-wrap mb-4">
                    <li>
                      <i class="las la-user"></i>
                      <a href="#0">fahaddevs</a>
                    </li>
                    <li>
                      <i class="las la-calendar"></i>
                      <a href="#0">20 Nov, 2020</a>
                    </li>
                  </ul>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisic elit. Iusto
                    eos rem ducimus nam! Optio, soluta. Laboriosam distinctio
                    nisi debitis deleniti ducim.
                  </p>
                  <a href="#0" class="cmn-btn btn-md mt-4">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
              <div class="blog-card">
                <div class="blog-card__thumb">
                  <img src="assets/images/blog/2.jpg" alt="image" />
                </div>
                <div class="blog-card__content">
                  <h4 class="blog-card__title mb-3">
                    <a href="#0"
                      >Laboriosam distinctio nisi debitis deleniti voluptatum
                      corporis.</a
                    >
                  </h4>
                  <ul class="blog-card__meta d-flex flex-wrap mb-4">
                    <li>
                      <i class="las la-user"></i>
                      <a href="#0">fahaddevs</a>
                    </li>
                    <li>
                      <i class="las la-calendar"></i>
                      <a href="#0">20 Nov, 2020</a>
                    </li>
                  </ul>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisic elit. Iusto
                    eos rem ducimus nam! Optio, soluta. Laboriosam distinctio
                    nisi debitis deleniti ducim.
                  </p>
                  <a href="#0" class="cmn-btn btn-md mt-4">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- blog section end -->

      <!-- footer section start -->
      <%- include('../pages/partials/footer') %>
    </div>

    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
