<!DOCTYPE html>
  <%- include('../pages/partials/head') %>
<body style="background-image: url(assets/images/bg/bg-5.jpg);">
  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
      <div id="stars4"></div>
    </div><!-- / STAR ANIMATION -->
  </div>
	<% if( validity) { %>
	

		<button type="button" style="display: none;" class="btn btn-primary" id="btn" data-toggle="modal" data-target="#exampleModalCenter">
		</button>

	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color: black;">Registration Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color:black;">
      	Registration Successful. Kinly check your mail for verification
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
	<%
	}
	%>

<script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/wow.min.js"></script>
  <script src="assets/js/contact.js"></script>
  <!-- dashboard custom js -->
  <script src="assets/js/app.js"></script>


  <script>
			btn.click()
			setTimeout(() => {
				window.location="/login"
			}, 1500)
		</script> 

</body>
</html>	