<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here -->
  <%- include('../pages/partials/head') %>
  <!-- head tag ends here  -->
  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>

    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

    <div class="full-wh">
      <!-- STAR ANIMATION -->
      <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
      </div>
      <!-- / STAR ANIMATION -->
    </div>
    <div class="page-wrapper">
      <!-- header-section start  -->
      <%- include('../pages/partials/header') %>
      <!-- header-section end  -->

      <!-- inner hero start -->
      <section
        class="inner-hero bg_img"
        data-background="assets/images/bg/bg-1.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="page-title">Contact Us</h2>
              <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Contact</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- inner hero end -->

      <!-- contact section start -->
      <section class="pt-120 pb-120">
        <div class="container">
          <div class="contact-wrapper">
            <div class="row">
              <div
                class="col-lg-6 contact-thumb bg_img"
                data-background="assets/images/bg/bg-1.jpg"
              ></div>
              <div class="col-lg-6 contact-form-wrapper">
                <h2 class="font-weight-bold">Contact.</h2>
                <h2 class="font-weight-bold">Get in touch.</h2>
                <span>Leave us a message</span>
                <form
                  class="contact-form mt-4"
                  action="/message"
                  method="post"
                  onsubmit="return handleSubmit();"
                >
                  <div class="form-row">
                    <div class="form-group col-lg-6">
                      <input
                        type="text"
                        name="fullname"
                        placeholder="Full Name"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group col-lg-6">
                      <input
                        type="email"
                        name="email"
                        placeholder="Email Address"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group col-lg-12">
                      <textarea
                        class="form-control"
                        name="message"
                        placeholder="Message"
                      ></textarea>
                    </div>
                    <div class="col-lg-12">
                      <button type="submit" class="cmn-btn">
                        Send Message
                      </button>
                    </div>
                  </div>
                </form>

                <div id="success-message" style="display: none; color: green">
                  Success! Your message has been sent.
                </div>

                <script>
                  function handleSubmit() {
                    const isSuccessful = true;

                    if (isSuccessful) {
                      document.getElementById("success-popup").style.display =
                        "block";

                      setTimeout(function () {
                        document.getElementById("success-popup").style.display =
                          "none";
                      }, 3000);
                    }

                    return !isSuccessful;
                  }
                </script>
              </div>
            </div>
          </div>
          <!-- contact-wrapper end -->
        </div>
        <div class="container pt-120">
          <div class="row justify-content-center">
            <div class="col-lg-10 mb-50">
              <h2 class="font-weight-bold">Quick</h2>
              <h2 class="font-weight-bold">Support.</h2>
              <span>You can get all information</span>
            </div>
            <div class="col-lg-10">
              <div class="row mb-none-30">
                <div class="col-md-4 col-sm-6 mb-30">
                  <div class="contact-item">
                    <i class="fas fa-robot"></i>
                    <h5 class="mt-2">Chat Bot</h5>
                    <div class="mt-4">
                      <p>
                        <a href="#">Have any complaints or need assistance?</a>
                      </p>
                    </div>
                  </div>
                  <!-- contact-item end -->
                </div>
                <div class="col-md-4 col-sm-6 mb-30">
                  <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <h5 class="mt-2">Mail Us</h5>
                    <div class="mt-4">
                      <p>
                        <a href="mailto:support@bullmarkets.com"
                          >support@bullmarkets.org
                        </a>
                      </p>
                    </div>
                  </div>
                  <!-- contact-item end -->
                </div>
                <div class="col-md-4 col-sm-6 mb-30">
                  <div class="contact-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5 class="mt-2">Visit Us</h5>
                    <div class="mt-4">
                      <p>
                        <a
                          href="https://www.google.com/maps/search/?q=23%20Dorset%20Road,%20C/O%20Severin%20Finance,%20London,%20England,%20SW8%201EF"
                          target="_blank"
                        >
                          80 STATE STREET, ALBANY 12207 NY United State
                        </a>
                      </p>
                    </div>
                  </div>
                  <!-- contact-item end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- contact section end -->

      <!-- footer section start -->
      <%- include('../pages/partials/footer') %>
    </div>

    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
