<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">

 <!-- head tag starts here -->
 <%- include('../pages/partials/head') %>
 <!-- head tag ends here  -->
  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>
  
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
  <div class="page-wrapper">
      <!-- header-section start  -->
      <%- include('../pages/partials/header') %>
  <!-- header-section end  -->
    
    <!-- inner hero start -->
    <section class="inner-hero bg_img" data-background="assets/images/bg/bg-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="page-title">Dashboard</h2>
            <ul class="page-breadcrumb">
              <li><a href="/">Home</a></li>
              <li>Dashboard</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- inner hero end -->


    <!-- dashboard section start -->
    <div class="pt-120 pb-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row mb-none-30">
              <div class="col-xl-4 col-sm-6 mb-30">
                <div class="d-widget d-flex flex-wrap">
                  <div class="col-8">
                    <span class="caption">Deposit Wallet Balance</span>
                    <h4 class="currency-amount">$255</h4>
                  </div>
                  <div class="col-4">
                    <div class="icon ml-auto">
                      <i class="las la-dollar-sign"></i>
                    </div>
                  </div>
                </div><!-- d-widget-two end -->
              </div>
              <div class="col-xl-4 col-sm-6 mb-30">
                <div class="d-widget d-flex flex-wrap">
                  <div class="col-8">
                    <span class="caption">Interest Wallet Balance</span>
                    <h4 class="currency-amount">$1,105</h4>
                  </div>
                  <div class="col-4">
                    <div class="icon ml-auto">
                      <i class="las la-wallet"></i>
                    </div>
                  </div>
                </div><!-- d-widget-two end -->
              </div>
              <div class="col-xl-4 col-sm-6 mb-30">
                <div class="d-widget d-flex flex-wrap">
                  <div class="col-8">
                    <span class="caption">Total Invest</span>
                    <h4 class="currency-amount">$500</h4>
                  </div>
                  <div class="col-4">
                    <div class="icon ml-auto">
                      <i class="las la-cubes "></i>
                    </div>
                  </div>
                </div><!-- d-widget-two end -->
              </div>
              <div class="col-xl-4 col-sm-6 mb-30">
                <div class="d-widget d-flex flex-wrap">
                  <div class="col-8">
                    <span class="caption">Total Deposit</span>
                    <h4 class="currency-amount">$1,050</h4>
                  </div>
                  <div class="col-4">
                    <div class="icon ml-auto">
                      <i class="las la-credit-card"></i>
                    </div>
                  </div>
                </div><!-- d-widget-two end -->
              </div>
              <div class="col-xl-4 col-sm-6 mb-30">
                <div class="d-widget d-flex flex-wrap">
                  <div class="col-8">
                    <span class="caption">Total Withdraw</span>
                    <h4 class="currency-amount">$1703</h4>
                  </div>
                  <div class="col-4">
                    <div class="icon ml-auto">
                      <i class="las la-cloud-download-alt"></i>
                    </div>
                  </div>
                </div><!-- d-widget-two end -->
              </div>
              <div class="col-xl-4 col-sm-6 mb-30">
                <div class="d-widget d-flex flex-wrap">
                  <div class="col-8">
                    <span class="caption">Referral Earnings</span>
                    <h4 class="currency-amount">$1710.5</h4>
                  </div>
                  <div class="col-4">
                    <div class="icon ml-auto">
                      <i class="las la-user-friends"></i>
                    </div>
                  </div>
                </div><!-- d-widget-two end -->
              </div>
            </div><!-- row end -->
            <div class="row mt-50">
              <div class="col-lg-12">
                <div class="table-responsive--md p-0">
                  <table class="table style--two white-space-nowrap">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Transaction ID</th>
                        <th>Amount</th>
                        <th>Wallet</th>
                        <th>Details</th>
                        <th>Post Balance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="Date">21/02/2020</td>
                        <td data-label="Transaction ID">
                          <span class="base--color">DZQXF5NAN2AT</span>
                        </td>
                        <td data-label="Amount">
                          <span class="text-success">+ $17.5</span>
                        </td>
                        <td data-label="Wallet">
                          <span class="badge base--bg">Interest Wallet</span>
                        </td>
                        <td data-label="Details">17.5 USD Interest From Crown</td>
                        <td data-label="Post Balance">$22991.9</td>
                      </tr>
                      <tr>
                        <td data-label="Date">21/02/2020</td>
                        <td data-label="Transaction ID">
                          <span class="base--color">DZQXF5NAN2AT</span>
                        </td>
                        <td data-label="Amount">
                          <span class="text-success">+ $17.5</span>
                        </td>
                        <td data-label="Wallet">
                          <span class="badge base--bg">Interest Wallet</span>
                        </td>
                        <td data-label="Details">17.5 USD Interest From Crown</td>
                        <td data-label="Post Balance">$22991.9</td>
                      </tr>
                      <tr>
                        <td data-label="Date">21/02/2020</td>
                        <td data-label="Transaction ID">
                          <span class="base--color">DZQXF5NAN2AT</span>
                        </td>
                        <td data-label="Amount">
                          <span class="text-success">+ $17.5</span>
                        </td>
                        <td data-label="Wallet">
                          <span class="badge base--bg">Interest Wallet</span>
                        </td>
                        <td data-label="Details">17.5 USD Interest From Crown</td>
                        <td data-label="Post Balance">$22991.9</td>
                      </tr>
                      <tr>
                        <td data-label="Date">21/02/2020</td>
                        <td data-label="Transaction ID">
                          <span class="base--color">DZQXF5NAN2AT</span>
                        </td>
                        <td data-label="Amount">
                          <span class="text-success">+ $17.5</span>
                        </td>
                        <td data-label="Wallet">
                          <span class="badge base--bg">Interest Wallet</span>
                        </td>
                        <td data-label="Details">17.5 USD Interest From Crown</td>
                        <td data-label="Post Balance">$22991.9</td>
                      </tr>
                      <tr>
                        <td data-label="Date">21/02/2020</td>
                        <td data-label="Transaction ID">
                          <span class="base--color">DZQXF5NAN2AT</span>
                        </td>
                        <td data-label="Amount">
                          <span class="text-success">+ $17.5</span>
                        </td>
                        <td data-label="Wallet">
                          <span class="badge base--bg">Interest Wallet</span>
                        </td>
                        <td data-label="Details">17.5 USD Interest From Crown</td>
                        <td data-label="Post Balance">$22991.9</td>
                      </tr>
                      <tr>
                        <td data-label="Date">21/02/2020</td>
                        <td data-label="Transaction ID">
                          <span class="base--color">DZQXF5NAN2AT</span>
                        </td>
                        <td data-label="Amount">
                          <span class="text-success">+ $17.5</span>
                        </td>
                        <td data-label="Wallet">
                          <span class="badge base--bg">Interest Wallet</span>
                        </td>
                        <td data-label="Details">17.5 USD Interest From Crown</td>
                        <td data-label="Post Balance">$22991.9</td>
                      </tr>
                      <tr>
                        <td data-label="Date">21/02/2020</td>
                        <td data-label="Transaction ID">
                          <span class="base--color">DZQXF5NAN2AT</span>
                        </td>
                        <td data-label="Amount">
                          <span class="text-success">+ $17.5</span>
                        </td>
                        <td data-label="Wallet">
                          <span class="badge base--bg">Interest Wallet</span>
                        </td>
                        <td data-label="Details">17.5 USD Interest From Crown</td>
                        <td data-label="Post Balance">$22991.9</td>
                      </tr>
                      <tr>
                        <td data-label="Date">21/02/2020</td>
                        <td data-label="Transaction ID">
                          <span class="base--color">DZQXF5NAN2AT</span>
                        </td>
                        <td data-label="Amount">
                          <span class="text-success">+ $17.5</span>
                        </td>
                        <td data-label="Wallet">
                          <span class="badge base--bg">Interest Wallet</span>
                        </td>
                        <td data-label="Details">17.5 USD Interest From Crown</td>
                        <td data-label="Post Balance">$22991.9</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- row end -->
          </div>
        </div>
      </div>
    </div>
    <!-- dashboard section end -->



    <!-- footer section start -->
    <%- include('../pages/partials/footer') %>
<!-- footer section end -->
  </div> <!-- page-wrapper end -->
    <!-- jQuery library -->
  <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
  <!-- slick slider js -->
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/wow.min.js"></script>
  <script src="assets/js/contact.js"></script>
  <!-- dashboard custom js -->
  <script src="assets/js/app.js"></script>

  </body>
</html> 