
<!DOCTYPE html>
<html lang="en">

 <!-- head tag starts here -->
 <%- include('../pages/partials/head') %>
 <!-- head tag ends here  -->
  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>
  
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
  <div class="page-wrapper">

    <div class="error-area">
      <div class="error-content text-center">
        <div class="error-num">
          404
          <div class="error-num__clip">404</div>
        </div>
        <h2>Page Not Found</h2>
        <a href="/" class="cmn-btn mt-4">Go back to Home</a>
      </div>
    </div>

  </div>
  <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/wow.min.js"></script>
  <script src="assets/js/contact.js"></script>
  <script src="assets/js/app.js"></script>
  </body>
</html> 