<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here -->
  <%- include('../pages/partials/head') %>
  <!-- head tag ends here  -->
  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>

    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

    <div class="full-wh">
      <!-- STAR ANIMATION -->
      <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
      </div>
      <!-- / STAR ANIMATION -->
    </div>
    <div class="page-wrapper">
      <!-- account section start -->
      <div
        class="account-section bg_img"
        data-background="assets/images/bg/bg-5.jpg"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7">
              <div class="account-card">
                <div
                  class="account-card__header bg_img overlay--one"
                  data-background="assets/images/bg/bg-6.jpg"
                >
                  <h2 class="section-title">Welcome to</h2>
                  <h2 class="base--color"><a class="base--color" href="/">BullMarkets Limited</a></h2>
                  <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus distinctio deserunt impedit similique debitis voluptatum enim.</p> -->
                </div>
                <div class="account-card__body">
                  <h3 class="text-center">Login</h3>
                  <form class="mt-4" method="post" action="/login">
                    <!-- <div class="form-group">
                      <label>Email / Username</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter email or username"
                      />
                    </div> -->
                    <div class="form-group">
                      <label>Email / Username</label>
                      <input
                        type="text"
                        name="identifier"
                        class="form-control"
                        placeholder="Enter Email / Username"
                        autocomplete="off"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <label>Password</label>
                      <input
                        name="password"
                        type="password"
                        class="form-control"
                        placeholder="Enter password"
                      />
                    </div>
                    <div class="form-row">
                      <div class="col-sm-6">
                        <div class="form-group form-check">
                          <input
                            type="checkbox"
                            class="form-check-input"
                            id="exampleCheck1"
                          />
                          <label class="form-check-label" for="exampleCheck1"
                            >Remember me</label
                          >
                        </div>
                      </div>
                      <div class="col-sm-6 text-sm-right">
                        <p class="f-size-14">
                          Haven't an account?
                          <a href="/registration" class="base--color"
                            >Sign Up</a
                          >
                        </p>
                      </div>

                       <div class="col-sm-6">
                        <p class="f-size-14">
                          <a href="/forget-password" class="base--color"
                            >Forget Password?</a>
                        </p>
                      </div>
                    </div>
                    <div class="mt-3">
                      <button class="cmn-btn">Login Now</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
