
<!DOCTYPE html>
<html lang="en">
 <!-- head tag starts here -->
 <%- include('../pages/partials/head') %>
 <!-- head tag ends here  -->
  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>
  
    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
  <div class="page-wrapper">

    <!-- account section start -->
    <div class="account-section bg_img" data-background="assets/images/bg/bg-5.jpg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-7">
            <div class="account-card">
              <div class="account-card__header bg_img overlay--one" data-background="assets/images/bg/bg-6.jpg">
                <h2 class="section-title">Welcome to </h2>
                <h2><a class="base--color" href="/">BullMarkets Limited</a></h2>
                <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus distinctio deserunt impedit similique debitis voluptatum enim.</p> -->
              </div>
              <div class="account-card__body">
                <h3 class="text-center">Create an Account</h2>
                <form class="mt-4" method="post" action="/registration">
                  <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="fullname" placeholder="Full Name">
                  </div>
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" class="form-control" name="email" placeholder="Email-address">
                  </div>
                  <div class="form-group">
                    <label>Country Code</label>
                    <select
                            name="phone_code"
                            class="form-control country_code dialCode-change"
                            required
                          >

                      <option
                        value="+93"
                        data-name="Afghanistan"
                        data-code="AF"
                      >
                        Afghanistan (+93)
                      </option>
                      <option
                        value="+355"
                        data-name="Albania"
                        data-code="AL"
                      >
                        Albania (+355)
                      </option>
                      <option
                        value="+213"
                        data-name="Algeria"
                        data-code="DZ"
                      >
                        Algeria (+213)
                      </option>
                      <option
                        value="+1"
                        data-name="American Samoa"
                        data-code="AS"
                      >
                        American Samoa (+1)
                      </option>
                      <option
                        value="+376"
                        data-name="Andorra"
                        data-code="AD"
                      >
                        Andorra (+376)
                      </option>
                      <option
                        value="+244"
                        data-name="Angola"
                        data-code="AO"
                      >
                        Angola (+244)
                      </option>
                      <option
                        value="+1"
                        data-name="Anguilla"
                        data-code="AI"
                      >
                        Anguilla (+1)
                      </option>
                      <option
                        value="+1"
                        data-name="Antigua"
                        data-code="AG"
                      >
                        Antigua (+1)
                      </option>
                      <option
                        value="+54"
                        data-name="Argentina"
                        data-code="AR"
                      >
                        Argentina (+54)
                      </option>
                      <option
                        value="+374"
                        data-name="Armenia"
                        data-code="AM"
                      >
                        Armenia (+374)
                      </option>
                      <option
                        value="+297"
                        data-name="Aruba"
                        data-code="AW"
                      >
                        Aruba (+297)
                      </option>
                      <option
                        value="+61"
                        data-name="Australia"
                        data-code="AU"
                      >
                        Australia (+61)
                      </option>
                      <option
                        value="+43"
                        data-name="Austria"
                        data-code="AI"
                      >
                        Austria (+43)
                      </option>
                      <option
                        value="+994"
                        data-name="Azerbaijan"
                        data-code="AZ"
                      >
                        Azerbaijan (+994)
                      </option>
                      <option
                        value="+973"
                        data-name="Bahrain"
                        data-code="BH"
                      >
                        Bahrain (+973)
                      </option>
                      <option
                        value="+880"
                        data-name="Bangladesh"
                        data-code="BD"
                      >
                        Bangladesh (+880)
                      </option>
                      <option
                        value="+1"
                        data-name="Barbados"
                        data-code="BB"
                      >
                        Barbados (+1)
                      </option>
                      <option
                        value="+375"
                        data-name="Belarus"
                        data-code="BY"
                      >
                        Belarus (+375)
                      </option>
                      <option
                        value="+32"
                        data-name="Belgium"
                        data-code="BE"
                      >
                        Belgium (+32)
                      </option>
                      <option
                        value="+501"
                        data-name="Belize"
                        data-code="BZ"
                      >
                        Belize (+501)
                      </option>
                      <option
                        value="+229"
                        data-name="Benin"
                        data-code="BJ"
                      >
                        Benin (+229)
                      </option>
                      <option
                        value="+1"
                        data-name="Bermuda"
                        data-code="BM"
                      >
                        Bermuda (+1)
                      </option>
                      <option
                        value="+975"
                        data-name="Bhutan"
                        data-code="BT"
                      >
                        Bhutan (+975)
                      </option>
                      <option
                        value="+591"
                        data-name="Bolivia"
                        data-code="BO"
                      >
                        Bolivia (+591)
                      </option>
                      <option
                        value="+387"
                        data-name="Bosnia &amp; Herzegovina"
                        data-code="BA"
                      >
                        Bosnia &amp; Herzegovina (+387)
                      </option>
                      <option
                        value="+267"
                        data-name="Botswana"
                        data-code="BW"
                      >
                        Botswana (+267)
                      </option>
                      <option
                        value="+55"
                        data-name="Brazil"
                        data-code="BR"
                      >
                        Brazil (+55)
                      </option>
                      <option
                        value="+246"
                        data-name="British Indian Ocean"
                        data-code="IO"
                      >
                        British Indian Ocean (+246)
                      </option>
                      <option
                        value="+1"
                        data-name="British Virgin Islands"
                        data-code="VG"
                      >
                        British Virgin Islands (+1)
                      </option>
                      <option
                        value="+673"
                        data-name="Brunei"
                        data-code="BN"
                      >
                        Brunei (+673)
                      </option>
                      <option
                        value="+359"
                        data-name="Bulgaria"
                        data-code="BG"
                      >
                        Bulgaria (+359)
                      </option>
                      <option
                        value="+226"
                        data-name="Burkina Faso"
                        data-code="BF"
                      >
                        Burkina Faso (+226)
                      </option>
                      <option
                        value="+95"
                        data-name="Burma Myanmar"
                        data-code="MM"
                      >
                        Burma Myanmar (+95)
                      </option>
                      <option
                        value="+257"
                        data-name="Burundi"
                        data-code="BI"
                      >
                        Burundi (+257)
                      </option>
                      <option
                        value="+855"
                        data-name="Cambodia"
                        data-code="KH"
                      >
                        Cambodia (+855)
                      </option>
                      <option
                        value="+237"
                        data-name="Cameroon"
                        data-code="CM"
                      >
                        Cameroon (+237)
                      </option>
                      <option
                        value="+1"
                        data-name="Canada"
                        data-code="CA"
                      >
                        Canada (+1)
                      </option>
                      <option
                        value="+238"
                        data-name="Cape Verde"
                        data-code="CV"
                      >
                        Cape Verde (+238)
                      </option>
                      <option
                        value="+1"
                        data-name="Cayman Islands"
                        data-code="KY"
                      >
                        Cayman Islands (+1)
                      </option>
                      <option
                        value="+236"
                        data-name="Central African Republic"
                        data-code="CF"
                      >
                        Central African Republic (+236)
                      </option>
                      <option
                        value="+235"
                        data-name="Chad"
                        data-code="ID"
                      >
                        Chad (+235)
                      </option>
                      <option
                        value="+56"
                        data-name="Chile"
                        data-code="CL"
                      >
                        Chile (+56)
                      </option>
                      <option
                        value="+86"
                        data-name="China"
                        data-code="CN"
                      >
                        China (+86)
                      </option>
                      <option
                        value="+57"
                        data-name="Colombia"
                        data-code="CO"
                      >
                        Colombia (+57)
                      </option>
                      <option
                        value="+269"
                        data-name="Comoros"
                        data-code="KM"
                      >
                        Comoros (+269)
                      </option>
                      <option
                        value="+682"
                        data-name="Cook Islands"
                        data-code="CK"
                      >
                        Cook Islands (+682)
                      </option>
                      <option
                        value="+506"
                        data-name="Costa Rica"
                        data-code="CR"
                      >
                        Costa Rica (+506)
                      </option>
                      <option
                        value="+225"
                        data-name="Côte dIvoire"
                        data-code="CI"
                      >
                        Côte dIvoire (+225)
                      </option>
                      <option
                        value="+385"
                        data-name="Croatia"
                        data-code="HR"
                      >
                        Croatia (+385)
                      </option>
                      <option value="+53" data-name="Cuba" data-code="CU">
                        Cuba (+53)
                      </option>
                      <option
                        value="+357"
                        data-name="Cyprus"
                        data-code="CY"
                      >
                        Cyprus (+357)
                      </option>
                      <option
                        value="+420"
                        data-name="Czech Republic"
                        data-code="CZ"
                      >
                        Czech Republic (+420)
                      </option>
                      <option
                        value="+243"
                        data-name="Republic of Congo"
                        data-code="CD"
                      >
                        Republic of Congo (+243)
                      </option>
                      <option
                        value="+45"
                        data-name="Denmark"
                        data-code="DK"
                      >
                        Denmark (+45)
                      </option>
                      <option
                        value="+253"
                        data-name="Djibouti"
                        data-code="DJ"
                      >
                        Djibouti (+253)
                      </option>
                      <option
                        value="+1"
                        data-name="Dominica"
                        data-code="DM"
                      >
                        Dominica (+1)
                      </option>
                      <option
                        value="+1"
                        data-name="Dominican Republic"
                        data-code="DO"
                      >
                        Dominican Republic (+1)
                      </option>
                      <option
                        value="+593"
                        data-name="Ecuador"
                        data-code="EC"
                      >
                        Ecuador (+593)
                      </option>
                      <option
                        value="+20"
                        data-name="Egypt"
                        data-code="EG"
                      >
                        Egypt (+20)
                      </option>
                      <option
                        value="+503"
                        data-name="El Salvador"
                        data-code="SV"
                      >
                        El Salvador (+503)
                      </option>
                      <option
                        value="+240"
                        data-name="Equatorial Guinea"
                        data-code="GQ"
                      >
                        Equatorial Guinea (+240)
                      </option>
                      <option
                        value="+291"
                        data-name="Eritrea"
                        data-code="ER"
                      >
                        Eritrea (+291)
                      </option>
                      <option
                        value="+372"
                        data-name="Estonia"
                        data-code="EE"
                      >
                        Estonia (+372)
                      </option>
                      <option
                        value="+251"
                        data-name="Ethiopia"
                        data-code="ET"
                      >
                        Ethiopia (+251)
                      </option>
                      <option
                        value="+500"
                        data-name="Falkland Islands"
                        data-code="FK"
                      >
                        Falkland Islands (+500)
                      </option>
                      <option
                        value="+298"
                        data-name="Faroe Islands"
                        data-code="FO"
                      >
                        Faroe Islands (+298)
                      </option>
                      <option
                        value="+691"
                        data-name="Federated Micronesia"
                        data-code="FM"
                      >
                        Federated Micronesia (+691)
                      </option>
                      <option
                        value="+679"
                        data-name="Fiji"
                        data-code="FJ"
                      >
                        Fiji (+679)
                      </option>
                      <option
                        value="+358"
                        data-name="Finland"
                        data-code="FI"
                      >
                        Finland (+358)
                      </option>
                      <option
                        value="+33"
                        data-name="France"
                        data-code="FR"
                      >
                        France (+33)
                      </option>
                      <option
                        value="+594"
                        data-name="French Guiana"
                        data-code="GF"
                      >
                        French Guiana (+594)
                      </option>
                      <option
                        value="+689"
                        data-name="French Polynesia"
                        data-code="PF"
                      >
                        French Polynesia (+689)
                      </option>
                      <option
                        value="+241"
                        data-name="Gabon"
                        data-code="GA"
                      >
                        Gabon (+241)
                      </option>
                      <option
                        value="+995"
                        data-name="Georgia"
                        data-code="GE"
                      >
                        Georgia (+995)
                      </option>
                      <option
                        value="+49"
                        data-name="Germany"
                        data-code="DE"
                      >
                        Germany (+49)
                      </option>
                      <option
                        value="+233"
                        data-name="Ghana"
                        data-code="GH"
                      >
                        Ghana (+233)
                      </option>
                      <option
                        value="+350"
                        data-name="Gibraltar"
                        data-code="GI"
                      >
                        Gibraltar (+350)
                      </option>
                      <option
                        value="+30"
                        data-name="Greece"
                        data-code="GR"
                      >
                        Greece (+30)
                      </option>
                      <option
                        value="+299"
                        data-name="Greenland"
                        data-code="GL"
                      >
                        Greenland (+299)
                      </option>
                      <option
                        value="+1"
                        data-name="Grenada"
                        data-code="GD"
                      >
                        Grenada (+1)
                      </option>
                      <option
                        value="+590"
                        data-name="Guadeloupe"
                        data-code="GP"
                      >
                        Guadeloupe (+590)
                      </option>
                      <option value="+1" data-name="Guam" data-code="GU">
                        Guam (+1)
                      </option>
                      <option
                        value="+502"
                        data-name="Guatemala"
                        data-code="GT"
                      >
                        Guatemala (+502)
                      </option>
                      <option
                        value="+224"
                        data-name="Guinea"
                        data-code="GN"
                      >
                        Guinea (+224)
                      </option>
                      <option
                        value="+245"
                        data-name="Guinea-Bissau"
                        data-code="GW"
                      >
                        Guinea-Bissau (+245)
                      </option>
                      <option
                        value="+592"
                        data-name="Guyana"
                        data-code="GY"
                      >
                        Guyana (+592)
                      </option>
                      <option
                        value="+509"
                        data-name="Haiti"
                        data-code="HT"
                      >
                        Haiti (+509)
                      </option>
                      <option
                        value="+504"
                        data-name="Honduras"
                        data-code="HN"
                      >
                        Honduras (+504)
                      </option>
                      <option
                        value="+852"
                        data-name="Hong Kong"
                        data-code="HK"
                      >
                        Hong Kong (+852)
                      </option>
                      <option
                        value="+36"
                        data-name="Hungary"
                        data-code="HU"
                      >
                        Hungary (+36)
                      </option>
                      <option
                        value="+354"
                        data-name="Iceland"
                        data-code="IS"
                      >
                        Iceland (+354)
                      </option>
                      <option
                        value="+91"
                        data-name="India"
                        data-code="IN"
                      >
                        India (+91)
                      </option>
                      <option
                        value="+62"
                        data-name="Indonesia"
                        data-code="ID"
                      >
                        Indonesia (+62)
                      </option>
                      <option value="+98" data-name="Iran" data-code="IR">
                        Iran (+98)
                      </option>
                      <option
                        value="+964"
                        data-name="Iraq"
                        data-code="IQ"
                      >
                        Iraq (+964)
                      </option>
                      <option
                        value="+353"
                        data-name="Ireland"
                        data-code="IE"
                      >
                        Ireland (+353)
                      </option>
                      <option
                        value="+972"
                        data-name="Israel"
                        data-code="IL"
                      >
                        Israel (+972)
                      </option>
                      <option
                        value="+39"
                        data-name="Italy"
                        data-code="IT"
                      >
                        Italy (+39)
                      </option>
                      <option
                        value="+1"
                        data-name="Jamaica"
                        data-code="JM"
                      >
                        Jamaica (+1)
                      </option>
                      <option
                        value="+81"
                        data-name="Japan"
                        data-code="JP"
                      >
                        Japan (+81)
                      </option>
                      <option
                        value="+962"
                        data-name="Jordan"
                        data-code="JO"
                      >
                        Jordan (+962)
                      </option>
                      <option
                        value="+7"
                        data-name="Kazakhstan"
                        data-code="KZ"
                      >
                        Kazakhstan (+7)
                      </option>
                      <option
                        value="+254"
                        data-name="Kenya"
                        data-code="KE"
                      >
                        Kenya (+254)
                      </option>
                      <option
                        value="+686"
                        data-name="Kiribati"
                        data-code="KI"
                      >
                        Kiribati (+686)
                      </option>
                      <option
                        value="+383"
                        data-name="Kosovo"
                        data-code="XK"
                      >
                        Kosovo (+383)
                      </option>
                      <option
                        value="+965"
                        data-name="Kuwait"
                        data-code="KW"
                      >
                        Kuwait (+965)
                      </option>
                      <option
                        value="+996"
                        data-name="Kyrgyzstan"
                        data-code="KG"
                      >
                        Kyrgyzstan (+996)
                      </option>
                      <option
                        value="+856"
                        data-name="Laos"
                        data-code="LA"
                      >
                        Laos (+856)
                      </option>
                      <option
                        value="+371"
                        data-name="Latvia"
                        data-code="LV"
                      >
                        Latvia (+371)
                      </option>
                      <option
                        value="+961"
                        data-name="Lebanon"
                        data-code="LB"
                      >
                        Lebanon (+961)
                      </option>
                      <option
                        value="+266"
                        data-name="Lesotho"
                        data-code="LS"
                      >
                        Lesotho (+266)
                      </option>
                      <option
                        value="+231"
                        data-name="Liberia"
                        data-code="LR"
                      >
                        Liberia (+231)
                      </option>
                      <option
                        value="+218"
                        data-name="Libya"
                        data-code="LY"
                      >
                        Libya (+218)
                      </option>
                      <option
                        value="+423"
                        data-name="Liechtenstein"
                        data-code="LI"
                      >
                        Liechtenstein (+423)
                      </option>
                      <option
                        value="+370"
                        data-name="Lithuania"
                        data-code="LT"
                      >
                        Lithuania (+370)
                      </option>
                      <option
                        value="+352"
                        data-name="Luxembourg"
                        data-code="LU"
                      >
                        Luxembourg (+352)
                      </option>
                      <option
                        value="+853"
                        data-name="Macau"
                        data-code="MO"
                      >
                        Macau (+853)
                      </option>
                      <option
                        value="+389"
                        data-name="Macedonia"
                        data-code="MK"
                      >
                        Macedonia (+389)
                      </option>
                      <option
                        value="+261"
                        data-name="Madagascar"
                        data-code="MG"
                      >
                        Madagascar (+261)
                      </option>
                      <option
                        value="+265"
                        data-name="Malawi"
                        data-code="MW"
                      >
                        Malawi (+265)
                      </option>
                      <option
                        value="+60"
                        data-name="Malaysia"
                        data-code="MY"
                      >
                        Malaysia (+60)
                      </option>
                      <option
                        value="+960"
                        data-name="Maldives"
                        data-code="MV"
                      >
                        Maldives (+960)
                      </option>
                      <option
                        value="+223"
                        data-name="Mali"
                        data-code="ML"
                      >
                        Mali (+223)
                      </option>
                      <option
                        value="+356"
                        data-name="Malta"
                        data-code="MT"
                      >
                        Malta (+356)
                      </option>
                      <option
                        value="+692"
                        data-name="Marshall Islands"
                        data-code="MH"
                      >
                        Marshall Islands (+692)
                      </option>
                      <option
                        value="+596"
                        data-name="Martinique"
                        data-code="MQ"
                      >
                        Martinique (+596)
                      </option>
                      <option
                        value="+222"
                        data-name="Mauritania"
                        data-code="MR"
                      >
                        Mauritania (+222)
                      </option>
                      <option
                        value="+230"
                        data-name="Mauritius"
                        data-code="MU"
                      >
                        Mauritius (+230)
                      </option>
                      <option
                        value="+262"
                        data-name="Mayotte"
                        data-code="YT"
                      >
                        Mayotte (+262)
                      </option>
                      <option
                        value="+52"
                        data-name="Mexico"
                        data-code="MX"
                      >
                        Mexico (+52)
                      </option>
                      <option
                        value="+373"
                        data-name="Moldova"
                        data-code="MD"
                      >
                        Moldova (+373)
                      </option>
                      <option
                        value="+377"
                        data-name="Monaco"
                        data-code="MC"
                      >
                        Monaco (+377)
                      </option>
                      <option
                        value="+976"
                        data-name="Mongolia"
                        data-code="MN"
                      >
                        Mongolia (+976)
                      </option>
                      <option
                        value="+382"
                        data-name="Montenegro"
                        data-code="ME"
                      >
                        Montenegro (+382)
                      </option>
                      <option
                        value="+1"
                        data-name="Montserrat"
                        data-code="MS"
                      >
                        Montserrat (+1)
                      </option>
                      <option
                        value="+212"
                        data-name="Morocco"
                        data-code="MA"
                      >
                        Morocco (+212)
                      </option>
                      <option
                        value="+258"
                        data-name="Mozambique"
                        data-code="MZ"
                      >
                        Mozambique (+258)
                      </option>
                      <option
                        value="+264"
                        data-name="Namibia"
                        data-code="NA"
                      >
                        Namibia (+264)
                      </option>
                      <option
                        value="+674"
                        data-name="Nauru"
                        data-code="NR"
                      >
                        Nauru (+674)
                      </option>
                      <option
                        value="+977"
                        data-name="Nepal"
                        data-code="NP"
                      >
                        Nepal (+977)
                      </option>
                      <option
                        value="+31"
                        data-name="Netherlands"
                        data-code="NL"
                      >
                        Netherlands (+31)
                      </option>
                      <option
                        value="+599"
                        data-name="Netherlands Antilles"
                        data-code="AN"
                      >
                        Netherlands Antilles (+599)
                      </option>
                      <option
                        value="+687"
                        data-name="New Caledonia"
                        data-code="NC"
                      >
                        New Caledonia (+687)
                      </option>
                      <option
                        value="+64"
                        data-name="New Zealand"
                        data-code="NZ"
                      >
                        New Zealand (+64)
                      </option>
                      <option
                        value="+505"
                        data-name="Nicaragua"
                        data-code="NI"
                      >
                        Nicaragua (+505)
                      </option>
                      <option
                        value="+227"
                        data-name="Niger"
                        data-code="NE"
                      >
                        Niger (+227)
                      </option>
                      <option
                        value="+234"
                        data-name="Nigeria"
                        data-code="NG"
                      >
                        Nigeria (+234)
                      </option>
                      <option
                        value="+683"
                        data-name="Niue"
                        data-code="NU"
                      >
                        Niue (+683)
                      </option>
                      <option
                        value="+672"
                        data-name="Norfolk Island"
                        data-code="NF"
                      >
                        Norfolk Island (+672)
                      </option>
                      <option
                        value="+850"
                        data-name="North Korea"
                        data-code="KP"
                      >
                        North Korea (+850)
                      </option>
                      <option
                        value="+1"
                        data-name="Northern Mariana Islands"
                        data-code="MP"
                      >
                        Northern Mariana Islands (+1)
                      </option>
                      <option
                        value="+47"
                        data-name="Norway"
                        data-code="NO"
                      >
                        Norway (+47)
                      </option>
                      <option
                        value="+968"
                        data-name="Oman"
                        data-code="OM"
                      >
                        Oman (+968)
                      </option>
                      <option
                        value="+92"
                        data-name="Pakistan"
                        data-code="PK"
                      >
                        Pakistan (+92)
                      </option>
                      <option
                        value="+680"
                        data-name="Palau"
                        data-code="PW"
                      >
                        Palau (+680)
                      </option>
                      <option
                        value="+970"
                        data-name="Palestine"
                        data-code="PS"
                      >
                        Palestine (+970)
                      </option>
                      <option
                        value="+507"
                        data-name="Panama"
                        data-code="PA"
                      >
                        Panama (+507)
                      </option>
                      <option
                        value="+675"
                        data-name="Papua New Guinea"
                        data-code="PG"
                      >
                        Papua New Guinea (+675)
                      </option>
                      <option
                        value="+595"
                        data-name="Paraguay"
                        data-code="PY"
                      >
                        Paraguay (+595)
                      </option>
                      <option value="+51" data-name="Peru" data-code="PE">
                        Peru (+51)
                      </option>
                      <option
                        value="+63"
                        data-name="Philippines"
                        data-code="PH"
                      >
                        Philippines (+63)
                      </option>
                      <option
                        value="+48"
                        data-name="Poland"
                        data-code="PL"
                      >
                        Poland (+48)
                      </option>
                      <option
                        value="+351"
                        data-name="Portugal"
                        data-code="PT"
                      >
                        Portugal (+351)
                      </option>
                      <option
                        value="+1"
                        data-name="Puerto Rico"
                        data-code="PR"
                      >
                        Puerto Rico (+1)
                      </option>
                      <option
                        value="+974"
                        data-name="Qatar"
                        data-code="QA"
                      >
                        Qatar (+974)
                      </option>
                      <option
                        value="+242"
                        data-name="Republic of the Congo"
                        data-code="CG"
                      >
                        Republic of the Congo (+242)
                      </option>
                      <option
                        value="+262"
                        data-name="Réunion"
                        data-code="RE"
                      >
                        Réunion (+262)
                      </option>
                      <option
                        value="+40"
                        data-name="Romania"
                        data-code="RO"
                      >
                        Romania (+40)
                      </option>
                      <option
                        value="+7"
                        data-name="Russia"
                        data-code="RU"
                      >
                        Russia (+7)
                      </option>
                      <option
                        value="+250"
                        data-name="Rwanda"
                        data-code="RW"
                      >
                        Rwanda (+250)
                      </option>
                      <option
                        value="+590"
                        data-name="Saint Barthélemy"
                        data-code="BL"
                      >
                        Saint Barthélemy (+590)
                      </option>
                      <option
                        value="+290"
                        data-name="Saint Helena"
                        data-code="SH"
                      >
                        Saint Helena (+290)
                      </option>
                      <option
                        value="+1"
                        data-name="Saint Kitts and Nevis"
                        data-code="KN"
                      >
                        Saint Kitts and Nevis (+1)
                      </option>
                      <option
                        value="+590"
                        data-name="Saint Martin"
                        data-code="MF"
                      >
                        Saint Martin (+590)
                      </option>
                      <option
                        value="+508"
                        data-name="St Pierre &amp; Miquelon"
                        data-code="PM"
                      >
                        St Pierre &amp; Miquelon (+508)
                      </option>
                      <option
                        value="+1"
                        data-name="St Vincent &amp; Grenadines"
                        data-code="VC"
                      >
                        St Vincent &amp; Grenadines (+1)
                      </option>
                      <option
                        value="+685"
                        data-name="Samoa"
                        data-code="WS"
                      >
                        Samoa (+685)
                      </option>
                      <option
                        value="+378"
                        data-name="San Marino"
                        data-code="SM"
                      >
                        San Marino (+378)
                      </option>
                      <option
                        value="+239"
                        data-name="São Tomé and Príncipe"
                        data-code="ST"
                      >
                        São Tomé and Príncipe (+239)
                      </option>
                      <option
                        value="+966"
                        data-name="Saudi Arabia"
                        data-code="SA"
                      >
                        Saudi Arabia (+966)
                      </option>
                      <option
                        value="+221"
                        data-name="Senegal"
                        data-code="SN"
                      >
                        Senegal (+221)
                      </option>
                      <option
                        value="+381"
                        data-name="Serbia"
                        data-code="RS"
                      >
                        Serbia (+381)
                      </option>
                      <option
                        value="+248"
                        data-name="Seychelles"
                        data-code="SC"
                      >
                        Seychelles (+248)
                      </option>
                      <option
                        value="+232"
                        data-name="Sierra Leone"
                        data-code="SL"
                      >
                        Sierra Leone (+232)
                      </option>
                      <option
                        value="+65"
                        data-name="Singapore"
                        data-code="SG"
                      >
                        Singapore (+65)
                      </option>
                      <option
                        value="+421"
                        data-name="Slovakia"
                        data-code="SK"
                      >
                        Slovakia (+421)
                      </option>
                      <option
                        value="+386"
                        data-name="Slovenia"
                        data-code="SI"
                      >
                        Slovenia (+386)
                      </option>
                      <option
                        value="+677"
                        data-name="Solomon Islands"
                        data-code="SB"
                      >
                        Solomon Islands (+677)
                      </option>
                      <option
                        value="+252"
                        data-name="Somalia"
                        data-code="SO"
                      >
                        Somalia (+252)
                      </option>
                      <option
                        value="+27"
                        data-name="South Africa"
                        data-code="ZA"
                      >
                        South Africa (+27)
                      </option>
                      <option
                        value="+82"
                        data-name="South Korea"
                        data-code="KR"
                      >
                        South Korea (+82)
                      </option>
                      <option
                        value="+34"
                        data-name="Spain"
                        data-code="ES"
                      >
                        Spain (+34)
                      </option>
                      <option
                        value="+94"
                        data-name="Sri Lanka"
                        data-code="LK"
                      >
                        Sri Lanka (+94)
                      </option>
                      <option
                        value="+1"
                        data-name="St. Lucia"
                        data-code="LC"
                      >
                        St. Lucia (+1)
                      </option>
                      <option
                        value="+249"
                        data-name="Sudan"
                        data-code="SD"
                      >
                        Sudan (+249)
                      </option>
                      <option
                        value="+597"
                        data-name="Suriname"
                        data-code="SR"
                      >
                        Suriname (+597)
                      </option>
                      <option
                        value="+268"
                        data-name="Swaziland"
                        data-code="SZ"
                      >
                        Swaziland (+268)
                      </option>
                      <option
                        value="+46"
                        data-name="Sweden"
                        data-code="SE"
                      >
                        Sweden (+46)
                      </option>
                      <option
                        value="+41"
                        data-name="Switzerland"
                        data-code="CH"
                      >
                        Switzerland (+41)
                      </option>
                      <option
                        value="+963"
                        data-name="Syria"
                        data-code="SY"
                      >
                        Syria (+963)
                      </option>
                      <option
                        value="+886"
                        data-name="Taiwan"
                        data-code="TW"
                      >
                        Taiwan (+886)
                      </option>
                      <option
                        value="+992"
                        data-name="Tajikistan"
                        data-code="TJ"
                      >
                        Tajikistan (+992)
                      </option>
                      <option
                        value="+255"
                        data-name="Tanzania"
                        data-code="TZ"
                      >
                        Tanzania (+255)
                      </option>
                      <option
                        value="+66"
                        data-name="Thailand"
                        data-code="TH"
                      >
                        Thailand (+66)
                      </option>
                      <option
                        value="+1"
                        data-name="The Bahamas"
                        data-code="BS"
                      >
                        The Bahamas (+1)
                      </option>
                      <option
                        value="+220"
                        data-name="The Gambia"
                        data-code="GM"
                      >
                        The Gambia (+220)
                      </option>
                      <option
                        value="+670"
                        data-name="Timor-Leste"
                        data-code="TL"
                      >
                        Timor-Leste (+670)
                      </option>
                      <option
                        value="+228"
                        data-name="Togo"
                        data-code="TG"
                      >
                        Togo (+228)
                      </option>
                      <option
                        value="+690"
                        data-name="Tokelau"
                        data-code="TK"
                      >
                        Tokelau (+690)
                      </option>
                      <option
                        value="+676"
                        data-name="Tonga"
                        data-code="TO"
                      >
                        Tonga (+676)
                      </option>
                      <option
                        value="+1"
                        data-name="Trinidad and Tobago"
                        data-code="TT"
                      >
                        Trinidad and Tobago (+1)
                      </option>
                      <option
                        value="+216"
                        data-name="Tunisia"
                        data-code="TN"
                      >
                        Tunisia (+216)
                      </option>
                      <option
                        value="+90"
                        data-name="Turkey"
                        data-code="TR"
                      >
                        Turkey (+90)
                      </option>
                      <option
                        value="+993"
                        data-name="Turkmenistan"
                        data-code="TM"
                      >
                        Turkmenistan (+993)
                      </option>
                      <option
                        value="+1"
                        data-name="Turks and Caicos Islands"
                        data-code="TC"
                      >
                        Turks and Caicos Islands (+1)
                      </option>
                      <option
                        value="+688"
                        data-name="Tuvalu"
                        data-code="TV"
                      >
                        Tuvalu (+688)
                      </option>
                      <option
                        value="+256"
                        data-name="Uganda"
                        data-code="UG"
                      >
                        Uganda (+256)
                      </option>
                      <option
                        value="+380"
                        data-name="Ukraine"
                        data-code="UA"
                      >
                        Ukraine (+380)
                      </option>
                      <option
                        value="+971"
                        data-name="United Arab Emirates"
                        data-code="AE"
                      >
                        United Arab Emirates (+971)
                      </option>
                      <option
                        value="+44"
                        data-name="United Kingdom"
                        data-code="GB"
                        selected
                      >
                        United Kingdom (+44)
                      </option>
                      <option
                        value="+1"
                        data-name="United States"
                        data-code="US"
                      >
                        United States (+1)
                      </option>
                      <option
                        value="+598"
                        data-name="Uruguay"
                        data-code="UY"
                      >
                        Uruguay (+598)
                      </option>
                      <option
                        value="+1"
                        data-name="US Virgin Islands"
                        data-code="VI"
                      >
                        US Virgin Islands (+1)
                      </option>
                      <option
                        value="+998"
                        data-name="Uzbekistan"
                        data-code="UZ"
                      >
                        Uzbekistan (+998)
                      </option>
                      <option
                        value="+678"
                        data-name="Vanuatu"
                        data-code="VU"
                      >
                        Vanuatu (+678)
                      </option>
                      <option
                        value="+39"
                        data-name="Vatican City"
                        data-code="VA"
                      >
                        Vatican City (+39)
                      </option>
                      <option
                        value="+58"
                        data-name="Venezuela"
                        data-code="VE"
                      >
                        Venezuela (+58)
                      </option>
                      <option
                        value="+84"
                        data-name="Vietnam"
                        data-code="VN"
                      >
                        Vietnam (+84)
                      </option>
                      <option
                        value="+681"
                        data-name="Wallis and Futuna"
                        data-code="WF"
                      >
                        Wallis and Futuna (+681)
                      </option>
                      <option
                        value="+967"
                        data-name="Yemen"
                        data-code="YE"
                      >
                        Yemen (+967)
                      </option>
                      <option
                        value="+260"
                        data-name="Zambia"
                        data-code="ZM"
                      >
                        Zambia (+260)
                      </option>
                      <option
                        value="+263"
                        data-name="Zimbabwe"
                        data-code="ZW"
                      >
                        Zimbabwe (+263)
                      </option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label>Phone Number</label>
                          <input
                            type="text"
                            name="phone"
                            class="form-control dialcode-set"
                            placeholder="Phone number"
                            required
                          />
                        </div>
                        <input
                          type="hidden"
                          name="country_code"
                          class="text-dark"
                        />
                       
                  <!-- <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter password">
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter password">
                  </div> -->
                  <div class="form-group">
                    <label>Password</label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input
                      type="password"
                      id="password_confirmation"
                      class="form-control"
                      placeholder="Confirm Password"
                      required
                    />
                  </div>
                  <div id="password-error" style="color: red"></div>
                  <input
                    type="hidden"
                    name="hidden_password"
                    id="hidden_password"
                  />

                  <script>
                    const password = document.getElementById("password");
                    const passwordConfirmation = document.getElementById(
                      "password_confirmation"
                    );
                    const hiddenPassword =
                      document.getElementById("hidden_password");
                    const errorDiv =
                      document.getElementById("password-error");

                    function validatePassword() {
                      if (password.value !== passwordConfirmation.value) {
                        errorDiv.textContent = "Passwords do not match";
                        hiddenPassword.value = ""; 
                      } else {
                        errorDiv.textContent = "";
                        hiddenPassword.value = password.value; 
                      }
                    }

                    password.addEventListener("input", validatePassword);
                    passwordConfirmation.addEventListener(
                      "input",
                      validatePassword
                    );
                  </script>

                  <div class="form-row">
                    <div class="col-sm-6">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                      </div>
                    </div>
                    <div class="col-sm-6 text-sm-right">
                      <p class="f-size-14">Have an account? <a href="/login" class="base--color">Login</a></p>
                    </div>
                  </div>
                  <div class="mt-3">
                    <button type="submit" class="cmn-btn">SignUp Now</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div> 
  <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/wow.min.js"></script>
  <script src="assets/js/contact.js"></script>
  <script src="assets/js/app.js"></script>

  <script>
    "use strict";
    $(document).ready(function () {
      setDialCode();
      $(document).on("change", ".dialCode-change", function () {
        setDialCode();
      });

      function setDialCode() {
        let currency = $(".dialCode-change").val();
        $(".dialcode-set").val(currency);
      }
    });
  </script>
  </body>

</html>