<div class="header header-one">
  <a href="javascript:void(0);" id="toggle_btn">
    <span class="toggle-bars">
      <span class="bar-icons"></span>
      <span class="bar-icons"></span>
      <span class="bar-icons"></span>
      <span class="bar-icons"></span>
    </span>
  </a>

  <div class="top-nav-search">
    <form>
      <input type="text" class="form-control" placeholder="Search here" />
      <button class="btn" type="submit">
        <img src="/img/icons/search.svg" alt="img" />
      </button>
    </form>
  </div>

  <a class="mobile_btn" id="mobile_btn">
    <i class="fas fa-bars"></i>
  </a>

  <ul class="nav nav-tabs user-menu">
    <li class="nav-item dropdown has-arrow flag-nav">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
      >
        <img src="/img/flags/us1.png" alt height="20" /><span>English</span>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <a href="javascript:void(0);" class="dropdown-item">
          <img src="/img/flags/us.png" alt height="16" /><span>English</span>
        </a>
        <a href="javascript:void(0);" class="dropdown-item">
          <img src="/img/flags/fr.png" alt height="16" /><span>French</span>
        </a>
        <a href="javascript:void(0);" class="dropdown-item">
          <img src="/img/flags/es.png" alt height="16" /><span>Spanish</span>
        </a>
        <a href="javascript:void(0);" class="dropdown-item">
          <img src="/img/flags/de.png" alt height="16" /><span>German</span>
        </a>
      </div>
    </li>

    <li class="nav-item has-arrow dropdown-heads">
      <a href="javascript:void(0);" class="toggle-switch">
        <i class="fe fe-moon"></i>
      </a>
    </li>
    <li class="nav-item dropdown flag-nav dropdown-heads">
      <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button">
        <i class="fe fe-bell"></i>
        <span class="badge rounded-pill"></span>
      </a>
      <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
          <span class="notification-title">Notifications</span>
          <a href="javascript:void(0)" class="clear-noti"> Clear All</a>
        </div>
        <div class="noti-content">
          <ul class="notification-list">
            <li class="notification-message">
              <a href="/admin/profile">
                <div class="media d-flex">
                  <span class="avatar avatar-sm">
                    <img
                      class="avatar-img rounded-circle"
                      alt
                      src="/img/profiles/avatar-02.jpg"
                    />
                  </span>
                  <div class="media-body">
                    <p class="noti-details">
                      <span class="noti-title">Brian Johnson</span> paid the
                      invoice <span class="noti-title">#DF65485</span>
                    </p>
                    <p class="noti-time">
                      <span class="notification-time">4 mins ago</span>
                    </p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="topnav-dropdown-footer">
          <a href="/admin/notifications">View all Notifications</a>
        </div>
      </div>
    </li>
    <li class="nav-item has-arrow dropdown-heads">
      <a href="javascript:void(0);" class="win-maximize">
        <i class="fe fe-maximize"></i>
      </a>
    </li>

    <li class="nav-item dropdown">
      <a
        href="javascript:void(0)"
        class="user-link nav-link"
        data-bs-toggle="dropdown"
      >
        <!-- <span class="user-img">
          <img
            src="/img/profiles/avatar-07.jpg"
            alt="img"
            class="profilesidebar"
          />
          <span class="animate-circle"></span>
        </span> -->
        <!-- <span class="user-content">
          <span class="user-details">Admin</span>
          <span class="user-name">John Smith</span>
        </span> -->
      </a>
      <div class="dropdown-menu menu-drop-user">
        <div class="profilemenu">
          <div class="subscription-menu">
            <ul>
              <li>
                <a class="dropdown-item" href="/admin/profile">Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="/admin/settings">Settings</a>
              </li>
            </ul>
          </div>
          <div class="subscription-logout">
            <ul>
              <li class="pb-0">
                <a class="dropdown-item" href="/admin/login">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
