<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>BullMarkets | Admin</title>

    <link rel="shortcut icon" href="../assets/uploads/logo/Pasted image.png" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css" />

    <link rel="stylesheet" href="/plugins/feather/feather.css" />

    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />

    <link rel="stylesheet" href="/plugins/datatables/datatables.min.css" />

    <link rel="stylesheet" href="/css/style.css" />
  </head>