<div class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <a href="/admin/dashboard">
        <img src="/assets/images/jp.png" class="img-fluid logo" alt />
      </a>
      <!-- <a href="index-2.html">
        <img src="/img/logo-small.png" class="img-fluid logo-small" alt />
      </a> -->
    </div>
  </div>
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title"><span>Main</span></li>
        <li class="submenu">
          <a href="#"
            ><i class="fe fe-home"></i> <span>Admin Dashboard</span>
            <span class="menu-arrow"></span
          ></a>
          <ul>
            <li><a class="active" href="/admin/dashboard">Dashboard</a></li>
          </ul>
        </li>
        <!-- <li class="submenu">
          <a href="#"
            ><i class="fe fe-grid"></i> <span> Administrators</span>
            <span class="menu-arrow"></span
          ></a>
          <ul>
            <li><a href="/admin/admin">Add Admin</a></li>
            <li><a href="/admin/manage-admin">List Admin</a></li>
          </ul>
        </li> -->
      </ul>

      <ul>
        <li class="menu-title"><span>Users</span></li>
        <li>
          <a href="/admin/users"
            ><i class="fe fe-users"></i> <span>Users List</span></a
          >
        </li>
        <li>
          <a href="/admin/active-users"
            ><i class="fe fe-file"></i> <span>Profiles List</span></a
          >
        </li>
        <!-- <li>
          <a href="/admin/deactive-users"
            ><i class="fe fe-user"></i> <span>Deactivated Users</span></a
          >
        </li> -->
      </ul>

      <ul>
        <li class="menu-title"><span>Add / Manage Investment</span></li>
        <li class="submenu">
          <a href="#"
            ><i class="fe fe-package"></i>
            <span> Investment</span>
            <span class="menu-arrow"></span
          ></a>
          <ul>
            <li><a href="/admin/add-plan">Create Investment</a></li>
            <li><a href="/admin/plan-list">Manage Investment</a></li>
          </ul>
        </li>
      </ul>

      <ul>
        <li class="menu-title"><span>Add / Manage Payment</span></li>
        <li class="submenu">
          <a href="#"
            ><i class="fe fe-file"></i> <span>Payment </span
            ><span class="menu-arrow"></span
          ></a>
          <ul>
            <li><a href="/admin/add-payment">Add Payment Option</a></li>
            <li><a href="/admin/payment-list">Manage Payment Options</a></li>
            <!-- <li><a href="/admin/withdrawal">Withdrawal Request</a></li>
            <li>
              <a href="/admin/investment-history">Investment History</a>
            </li> -->
          </ul>
        </li>
      </ul>

      <ul>
        <li class="menu-title"><span>Support</span></li>
        <li>
          <a href="/admin/contact-messages"
            ><i class="fe fe-printer"></i> <span>Contact Messages</span></a
          >
        </li>

        <!-- <li>
          <a href="/admin/tickets-list"
            ><i class="fe fe-printer"></i> <span>Tickect List</span></a
          >
        </li> -->
      </ul>
<ul>
  <li class="menu-title"><span>Services</span></li>
  <li>
    <a href=""
      ><i class="fe fe-printer"></i> <span>Subscribed Mails</span></a
    >
  </li>
</ul>
      <ul>
        <li class="menu-title"><span>Settings</span></li>
        <!-- <li>
          <a href="/admin/settings"
            ><i class="fe fe-settings"></i> <span>Settings</span></a
          >
        </li> -->
        <li>
          <a href="/admin/login"
            ><i class="fe fe-power"></i> <span>Logout</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
